=link_to activity_read_path(id: activity.id,path: startup_idea_path(activity.recipient.startup, activity.recipient)), method: :post do
  %li.notification-sender{class: "unread-#{activity.unread?(current_emprende_user)}"}
    .notification-labels
      -if activity.owner_type == "Advisor"
        =I18n.t("views.public_activity.advisor")
    .image
      =avatar_startup_tag activity.recipient.startup , "notification-image"
    .sender-content
      %h4.notification-title 
        %span
          =I18n.t("views.public_activity.idea.idea_created")
          %strong
            =activity.recipient.name
    .sender-date
      %span
        =activity.created_at.strftime("%I:%M%p - %m/%d/%Y")