=link_to activity_read_path(id: activity.id, path: startup_path(activity.recipient.startup)), method: :post do
  %li.notification-sender{class: "unread-#{activity.unread?(current_emprende_user)}"}
    .notification-labels
      -if activity.owner_type == "Advisor"
        %span.label.label-info
          =I18n.t("views.public_activity.advisor")
    .image
      =avatar_tag activity.owner , "notification-image"
    .sender-content
      %h4.notification-title 
        %span
          =I18n.t("views.public_activity.the_idea")
          %strong
            =activity.recipient.name
          =I18n.t("views.public_activity.idea.deactivate")
    .sender-date
      %span
        =activity.created_at.strftime("%I:%M%p - %m/%d/%Y")