=link_to activity_read_path(id:activity.id,path:startup_idea_path(activity.recipient.startup, activity.recipient)),method: :post do
  %li.notification-sender{class: "unread-#{activity.unread?(current_emprende_user)}"}
    .notification-labels
      -if activity.owner_type == "Advisor"
        %span.label.label-info 
          =I18n.t("views.public_activity.advisor")
    .image
      =avatar_tag activity.owner , "notification-image"
    .sender-content
      %h4.notification-title 
        %span
          =I18n.t("views.public_activity.the_stage")
          =activity.parameters[:idea_stage].model.name
          =I18n.t("views.public_activity.of_idea")
          %strong
            =activity.recipient.name
          =I18n.t("views.public_activity.idea_stage.stage_status_updated")
          =I18n.t("activerecord.attributes.idea_stage.stage_status.#{activity.parameters[:idea_stage].status}")
    .sender-date
      %span
        =activity.created_at.strftime("%I:%M%p - %m/%d/%Y")
        