=link_to activity_read_path(id:activity.id,path: activity_path(activity.parameters[:idea_activity])), method: :post do
  %li.notification-sender{class: "unread-#{activity.unread?(current_emprende_user)}"}
    .notification-labels
      -if activity.owner_type == "Advisor"
        %span.label.label-info 
          =I18n.t("views.public_activity.advisor")
    .image
      =avatar_tag activity.owner , "notification-image"
    .sender-content
      %h4.notification-title 
        %span
          =I18n.t("views.public_activity.the_activity")
          -if IdeaActivity.exists?(activity.parameters[:idea_activity])
            =activity.parameters[:idea_activity].model.name
          -else
            ="Actividad eliminada"
          =I18n.t("views.public_activity.of_idea")
          %strong
            =activity.recipient.name
          =I18n.t("views.public_activity.idea_activity.status_updated")
          =I18n.t "activerecord.attributes.idea_activity.activity_status.#{activity.parameters[:idea_activity].status}"
    .sender-date
      %span
        =activity.created_at.strftime("%I:%M%p - %m/%d/%Y")
        