%section.slice.background-people
  %br
  %br
  .wp-section
    .container
      .row
        .col-md-4.col-md-offset-2.col-sm-6.col-sm-offset-3
          .wp-block.default.user-form.advisor-wp
            .form-header
              %h2
                = I18n.t('views.advisors.sessions.new.title')
                %strong
                  = I18n.t('views.advisors.sessions.new.role')
            .form-body
              = simple_form_for(resource, as: resource_name, url: session_path(resource_name),class: 'sky-form') do |f|
                %fieldset
                  %section
                    .form-group
                      = f.input :email, autofocus: true
                  %section
                    .form-group
                      = f.input :password
                  - if devise_mapping.rememberable?
                    %section
                      .form-group.text-left
                        %label.checkbox-remember
                          = f.input :remember_me, as: :boolean , label: I18n.t('views.entrepreneurs.sessions.new.remember_me')
                  %section
                    = f.button :submit, I18n.t('buttons.log_in'),class: "btn btn-icon btn-icon-right btn-sign-in pull-right"
            .form-footer
              = render "advisors/shared/links"
        .col-md-5
          .text-center 
            %div Ó
            =link_to "#{I18n.t('views.entrepreneurs.sessions.new.title')} #{I18n.t('views.entrepreneurs.sessions.new.role')}", new_entrepreneur_session_path,class: "btn btn-sign-e"