#entrepreneuerList
  .row
    -@entrepreneurs.each do |entrepreneur|
      .col-sm-4
        .entrepreneur-item
          .col-xs-3
            .entrepreneur-image-container
              =avatar_tag(entrepreneur,"circular")
          .col-xs-9
            .entrepreneur-content-container
              .name
                =entrepreneur.name

              - if allow_manage_entrepreneur?(entrepreneur)
                = link_to I18n.t('views.entrepreneurs.index.go_to_my_profile'), entrepreneur, class: "btn-link"
              -else
                = link_to "Ver perfil", entrepreneur, class: "btn-link"
                %button.btn-message-index{"data-target" => "#messageForm", "data-toggle" => "modal", "data-type" => "Entrepreneur", "data-email" => entrepreneur.email , :type => "button","data-name"=>entrepreneur.name}
                  = I18n.t('views.entrepreneurs.index.send_message')
                %br
  =will_paginate @entrepreneurs