%section
  .wp-section
    .row
      .col-md-12
        .wp-block.default.user-form
          .form-header
            %h2
              = I18n.t('views.entrepreneurs.edit.headline')
          .form-body
            = simple_form_for (@entrepreneur),html:{id: "entrepreneurAvatarForm"} do |f|
              %fieldset
                %section
                  .form-group
                    = f.input :avatar , as: :file, :hint => avatar_tag(f.object,'avatar')
            =link_to I18n.t('views.entrepreneurs.edit.upload_image'), "#",class: "btn btn-default btn-width", id: "entrepreneurAvatarlink"

            = simple_form_for (@entrepreneur) do |f|
              = f.error_notification
              .row
                .col-md-6
                  %fieldset
                    %section
                      .form-group
                        = f.input :first_name
                  %fieldset
                    %section
                      .form-group                  
                        = f.input :last_name
                  %fieldset
                    %section
                      .form-group
                        = f.input :phone
                  %fieldset
                    %section
                      .form-group
                        = f.input :profession
                  %fieldset
                    %section
                      .form-group
                        = f.input :summary, as: :text
                .col-md-6
                  /%fieldset
                  /  %section
                  /    .form-group
                  /      = f.input :tag_list
                  %fieldset
                    %section
                      .form-group
                        = f.input :facebook
                  %fieldset
                    %section
                      .form-group
                        = f.input :linkedin
                  %fieldset
                    %section
                      .form-group
                        = f.input :twitter
                  %fieldset
                    %section
                      .form-group
                        = f.input :country, priority: ["CO", "VE", "EC", "US"]
                  %fieldset
                    %section
                      .form-group
                        = f.input :city
              .form-footer.text-left
                = f.button :submit, I18n.t('views.entrepreneurs.edit.save'), class: "btn btn-width btn-primary"


