#indexEntrepreneurs
  %h3
    = I18n.t('views.entrepreneurs.index.headline')
  #searchEntrepreneursBar
    = form_tag search_entrepreneurs_index_path , method: :get , remote: true , id: 'search_entrepreneurs_form' do
      .input-group.col-md-4.col-md-offset-8.input-group-search-entrepreneurs
        = text_field_tag :entrepreneur, params[:entrepreneur], id: 'entrepreneur_search', class: 'form-control', placeholder: 'search', required: true
        %span.input-group-btn
          %button.btn.btn-info
            %i.glyphicon.glyphicon-search

  #indexMessages
    %h2.query-message
    =link_to "Volver a lista de emprendedores", entrepreneurs_list_path , class: "query-back-link"
  #entrepreneursIndex
    = render "index_entrepreneurs"
=render "/conversations/conversation_modals"