%section#entrepreneurProfile.padding-right.startup-padding-top
  .fb-profile
    .user-profile-cover
      .user-profile-cover-color
      %h1.user-name
        =@entrepreneur.name
    .user-profile-cover-div

  %section.user-info
    .row
      .col-sm-3 
        .user-image-profile
          =avatar_tag @entrepreneur , "fb-image-user-profile thumbnail"
        .text-center
          -if @entrepreneur == current_emprende_user
            =link_to edit_entrepreneur_path, class: "btn btn-primary btn-width" do
              .fa.fa-edit
              = I18n.t('views.entrepreneurs.show.edit_profile')
          =entrepreneur_message_button(@entrepreneur)
      .col-sm-5
        .user-info-profile
          %p
            %strong
              = I18n.t('views.entrepreneurs.show.bio')
            =@entrepreneur.summary
          %p
            %strong
              = I18n.t('views.entrepreneurs.show.email')
            =@entrepreneur.email
          %p
            %strong
              = I18n.t('views.entrepreneurs.show.profession')
            =@entrepreneur.profession
          %p
            %strong
              = I18n.t('views.entrepreneurs.show.location')
            - if !@entrepreneur.city.nil? && !@entrepreneur.country.nil?
              = "#{@entrepreneur.country}/#{@entrepreneur.city.capitalize}"
      .col-sm-4 
        .user-info-profile
          - if !@entrepreneur.linkedin.nil?
            - if !@entrepreneur.linkedin.empty?
              = link_to @entrepreneur.linkedin, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-linkedin
                    LinkedIn
          - if !@entrepreneur.twitter.nil?
            - if !@entrepreneur.twitter.empty?
              = link_to @entrepreneur.twitter, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-twitter
                    Twitter
          - if !@entrepreneur.facebook.nil?
            - if !@entrepreneur.facebook.empty?
              = link_to @entrepreneur.facebook, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-facebook
                    Facebook

 

%section#entrepreneurProfileStartups
  %h3.entrepreneur-startups-title
    = I18n.t('views.entrepreneurs.show.startups')
  .entrepreneur-startups
    -unless @entrepreneur.startups.any?
      .text-center
        %p
          = I18n.t('views.entrepreneurs.show.without_startups')
    -@entrepreneur.startups.each do |startup|
      .startup-item
        .startup-item-head.text-center
          .startup-avatar
            =avatar_startup_tag startup , "startup-image"
            =link_to startup.name, startup_path(startup) , class: "startup-name" 
          %p.startup-details-info
            %span
              =startup.startup_entrepreneurs.count
              = I18n.t('views.entrepreneurs.show.entrepreneur')
            %span
              =startup.active_ideas.count
              = I18n.t('views.entrepreneurs.show.active_ideas')
        .startup-item-body
          %section
            -unless startup.active_ideas.any?
              %p.text-left
                = I18n.t('views.entrepreneurs.show.without_active_ideas')
            -else
              %section.entrepreneur-ideas-profile
                %row.row
                  -startup.active_ideas.each do |idea|
                    =render partial: "ideas/active_idea", locals: {idea: idea}

            
=render "/conversations/conversation_modals"