
.container
  .row
    .new.col-md-4
      .post-item.style1
        .post-content-wr
          .post-meta-top
            .post-image
              %a{:href => "#"}
                =image_tag "blog-img-3_600x800.jpg"
            %h2.post-title
              %a{:href => "#"} The true sign of intelligence is not knowledge but imagination
          .post-content.clearfix
            .post-tags
              Posted in
              = succeed "," do
                %a{:href => "#"} HOTELS
              = succeed "," do
                %a{:href => "#"} SPECIAL PROMOS
              %a{:href => "#"} SUMMER
            .post-comments
              %strong> 23
              comments
            .post-desc
              %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .post-meta-bot.clearfix
            %span.post-author
              WRITTEN BY
              %a{:href => "#"} MARC JACOBS
            %a.like-button.checked.pull-right{:href => "#", :title => "Like this post"}
              %span.button
                %i.fa.fa-heart
              %span.count 33

    / Masonry block with standard image example
    .new.col-md-4
      .post-item.style1
        .post-content-wr
          .post-meta-top
            .post-image
              %a{:href => "#"}
                =image_tag "blog-img-1_1280x800.jpg"
            %h2.post-title
              %a{:href => "#"} The true sign of intelligence is not knowledge but imagination
          .post-content.clearfix
            .post-tags
              Posted in
              = succeed "," do
                %a{:href => "#"} HOTELS
              = succeed "," do
                %a{:href => "#"} SPECIAL PROMOS
              %a{:href => "#"} SUMMER
            .post-comments
              %strong> 23
              comments
            .post-desc
              %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
          .post-meta-bot.clearfix
            %span.post-author
              WRITTEN BY
              %a{:href => "#"} MARC JACOBS
            %a.like-button.checked.pull-right{:href => "#", :title => "Like this post"}
              %span.button
                %i.fa.fa-heart
              %span.count 33
      %br
      .wp-block.hero.base.no-margin
        .thmb-img
          %i.fa.fa-code
        %h2 Design and Code
        %p.text-center Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
        / Full size link
        %a.full-size-link{:href => "#"}
    / Masonry block with standard image example
    .new.col-md-4
      .post-item.style1
        .post-content-wr
          .post-meta-top
            .post-image
              %a{:href => "#"}
                =image_tag "blog-img-2_600x800.jpg"
            %h2.post-title
              %a{:href => "#"} The true sign of intelligence is not knowledge but imagination
          .post-content.clearfix
            .post-tags
              Posted in
              = succeed "," do
                %a{:href => "#"} HOTELS
              = succeed "," do
                %a{:href => "#"} SPECIAL PROMOS
              %a{:href => "#"} SUMMER
            .post-comments
              %strong> 23
              comments
            .post-desc
              %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .post-meta-bot.clearfix
            %span.post-author
              WRITTEN BY
              %a{:href => "#"} MARC JACOBS
            %a.like-button.checked.pull-right{:href => "#", :title => "Like this post"}
              %span.button
                %i.fa.fa-heart
              %span.count 33
