.col-md-3
  / Standard image post example
  .post-item.style2.no-padding.opinion-container
    .post-content-wr
      .post-meta-top
        .post-image
          %a{:href => "#"}
            =image_tag "blog-img.jpg"
      .opinion-content
        %h2.post-title
          %a.opinion-title{:href => "#"} Nombre empresa
        .post-content.clearfix
          .post-desc
            %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          %a.opinion-link{:href => "#"} Read more
