#signInModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.static_pages.sign_in.modal_title')
      .modal-body.text-center
        =link_to "#{I18n.t('views.static_pages.sign_in.login_as_entrepreneur')}", new_entrepreneur_session_path , class: "btn btn-sign-e"
        =link_to "#{I18n.t('views.static_pages.sign_in.login_as_advisor')}", new_advisor_session_path,class: "btn btn-sign-a"
