/ HEADER
#divHeaderWrapper
  / HEADER: Cover example - includes a full page header with with background and semi-opaque navigation with sticky navbar activated
  %header.header-alpha.header-cover
    / Top Header
    %nav.navbar.user-navbar.navbar-transparent
      .container
        =link_to root_path ,class: "navbar-brand" ,data: { no_turbolink: true},class: "navbar-brand image-responsive " do
          =image_tag "logo-emprende.png"
        .nav.navbar-right
          %li.inline-nav-item
            =link_to new_entrepreneur_registration_path ,class: "sign-up-navbar"do
              =I18n.t('navbar.links.sign_up')
          %li.login-nav-item
            %a.sign-in-navbar{"data-target" => "#signInModal", "data-toggle" => "modal", :type => "button"}
              =I18n.t('navbar.links.sign_in')

          %li.dropdown.inline-nav-item.dropdown-search.animate-click{"data-animate-in" => "animated fadeInUp", "data-animate-out" => "animated fadeOutDown", :style => "z-index:500;"}
            %a.dropdown-form-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-search
            %ul.dropdown-menu.dropdown-menu-search.animate-wr
              %li#dropdownForm
                .dropdown-form
                  %form.form-default.form-horizontal.p-15
                    .input-group
                      %input.form-control{:onfocus => "return false;", :placeholder => "I want to find ...", :type => "text"}/
                      %span.input-group-btn
                        %button.btn.btn-base{:type => "button"} Go

/ Importing slider content
%section#slider-wrapper.layer-slider-wrapper.layer-slider-fullsize
  #layerslider{:style => "width:100%;"}
    / Slide 1
    .ls-slide{"data-ls" => "transition2d:1;timeshift:-1000;"}
      / slide background
      =image_tag 'full-bg-11.jpg', class: "ls-bg"
      / Left Text
      =image_tag "cube.png", class: "ls-l title text-normal image-responsive", "data-ls"=> "offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;",:style => "width: 200px; top: 50%; left:30%;"
      %h3.ls-l.title-lg.c-white.text-uppercase.strong{"data-ls" => "offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;", :style => "width:50%; top: 50%; left:65%;"}
        Emprende Creatic
      / %h3.ls-l.title.c-white.text-wrapped.alpha.rounded.text-uppercase.text-center.strong{"data-ls" => "offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;", :style => "top: 60%; left: 53%;"}
      /   Vision.Believe.Success
      %h3.ls-l.title-xs.c-white.text-uppercase.text-center.strong{"data-ls" => "offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;", :style => "width: 100%; top: 72%; left:0;"}
        Ayudanos a transformar las ideas de negocio
    / Slide 2
    .ls-slide{"data-ls" => "transition2d:1;timeshift:-1000;"}
      / slide background
      =image_tag 'full-bg-4.jpg', class: "ls-bg"
      / Left Text
      =image_tag "cube.png", class: "ls-l title text-normal image-responsive", "data-ls"=> "offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;",:style => "width: 200px; top: 50%; left:30%;"
      %h3.ls-l.title-lg.c-white.text-uppercase.strong{"data-ls" => "offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;", :style => "width:50%; top: 50%; left:65%;"}
        Emprende CreaTIC
      / %h3.ls-l.title.c-white.text-wrapped.alpha.rounded.text-uppercase.text-center.strong{"data-ls" => "offsetxin:0;offsetyin:250;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;", :style => "top: 60%; left: 53%;"}
      /   Vision.Believe.Success
      %h3.ls-l.title-xs.c-white.text-uppercase.text-center.strong{"data-ls" => "offsetxin:0;offsetyin:250;durationin:1000;delayin:1500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;", :style => "width: 100%; top: 72%; left:0;"}
        Ayudanos a transformar las ideas de negocio