.wp-section
  .container
    .section-title-wr
      %h3.section-title
        %span Our team
      %div
        %row.row
          .owl-item.col-md-2
            .item.team-2-member
              .wp-block.inverse
                .figure
                  =image_tag "team-agency-1.jpg",class: "img-responsive"
                  .figcaption
                    %h2
                      Derek Shepherd
                      %small CEO
                    %ul.social-icons.text-center
                      %li.facebook
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li.twitter
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li.linkedin
                        %a{:href => "#"}
                          %i.fa.fa-linkedin
          .owl-item.col-md-2
            .item.team-2-member
              .wp-block.inverse
                .figure
                  =image_tag "team-agency-2.jpg",class: "img-responsive"
                  .figcaption
                    %h2
                      Teddy Altman
                      %small Product Manager
                    %ul.social-icons.text-center
                      %li.facebook
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li.twitter
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li.linkedin
                        %a{:href => "#"}
                          %i.fa.fa-linkedin
          .owl-item.col-md-2
            .item.team-2-member
              .wp-block.inverse
                .figure 
                  =image_tag "team-agency-3.jpg",class: "img-responsive"
                  .figcaption
                    %h2
                      Richard Webber
                      %small Web Developer
                    %ul.social-icons.text-center
                      %li.facebook
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li.twitter
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li.linkedin
                        %a{:href => "#"}
                          %i.fa.fa-linkedin
          .owl-item.col-md-2
            .item.team-2-member
              .wp-block.inverse
                .figure
                  =image_tag "team-agency-2.jpg",class: "img-responsive"
                  .figcaption
                    %h2
                      Mark Sloan
                      %small UX Designer
                    %ul.social-icons.text-center
                      %li.facebook
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li.twitter
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li.linkedin
                        %a{:href => "#"}
                          %i.fa.fa-linkedin
          .owl-item.col-md-2
            .item.team-2-member
              .wp-block.inverse
                .figure
                  =image_tag "team-agency-2.jpg",class: "img-responsive"
                  .figcaption
                    %h2
                      Mark Sloan
                      %small UX Designer
                    %ul.social-icons.text-center
                      %li.facebook
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li.twitter
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li.linkedin
                        %a{:href => "#"}
                          %i.fa.fa-linkedin
          .owl-item.col-md-2
            .item.team-2-member
              .wp-block.inverse
                .figure
                  =image_tag "team-agency-2.jpg",class: "img-responsive"
                  .figcaption
                    %h2
                      Mark Sloan
                      %small UX Designer
                    %ul.social-icons.text-center
                      %li.facebook
                        %a{:href => "#"}
                          %i.fa.fa-facebook
                      %li.twitter
                        %a{:href => "#"}
                          %i.fa.fa-twitter
                      %li.linkedin
                        %a{:href => "#"}
                          %i.fa.fa-linkedin
         