.wp-section
  .container
    .row
      .col-md-6
        =image_tag "team-agency-wide-1.jpg", class: "img-responsive"
      .col-md-6
        .row
          .col-md-7
            %h4.title CEO
          .col-md-5
            .social-media.social-media-sm.text-right
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook.facebook
              %a{:href => "#", :title => "Google +"}
                %i.fa.fa-google-plus.google
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter.twitter
        %h3.title-lg Alexandra James
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 90%"}
            %span.sr-only Web Design
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
            %span.sr-only PHP Development
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
            %span.sr-only jQuery
    %hr/
    .row
      .col-md-6
        .row
          .col-md-7
            %h4.title.title-md.c-light-gray CEO
          .col-md-5
            .social-media.social-media-sm.text-right
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook.facebook
              %a{:href => "#", :title => "Google +"}
                %i.fa.fa-google-plus.google
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter.twitter
        %h3.title-lg Alexandra James
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 90%"}
            %span.sr-only Web Design
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
            %span.sr-only PHP Development
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
            %span.sr-only jQuery
      .col-md-6
        =image_tag "team-agency-wide-2.jpg",class: "img-responsive"
    %hr/
    .row
      .col-md-6
        =image_tag "team-agency-wide-1.jpg" ,class: "img-responsive"
      .col-md-6
        .row
          .col-md-7
            %h4.title Product Manager
          .col-md-5
            .social-media.social-media-sm.text-right
              %a{:href => "#", :title => "Facebook"}
                %i.fa.fa-facebook.facebook
              %a{:href => "#", :title => "Google +"}
                %i.fa.fa-google-plus.google
              %a{:href => "#", :title => "Twitter"}
                %i.fa.fa-twitter.twitter
        %h3.title-lg Derek Shepherd
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar", :style => "width: 90%"}
            %span.sr-only Web Design
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar", :style => "width: 70%"}
            %span.sr-only PHP Development
        .progress.progress-lg
          .progress-bar.progress-bar-base{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
            %span.sr-only jQuery