%body
  / MAIN WRAPPER
  .body-wrap
    / This section is only for demonstration purpose only. Check out the docs for more informations"
    / Importing slider content
    =render "slider"
    / MAIN CONTENT
    / %section.slice.bg-white.bb
    /   .wp-section
    /     .container
    /       .row
    /         .col-md-12
    /           .section-title-wr
    /             %h3.section-title.center
    /               %span 
    /                 =I18n.t('visitors.home.what_we_do.title')
    /               %small 
    /                 =I18n.t('visitors.home.what_we_do.subtitle')
    /           %p.text-center
    /             =I18n.t('visitors.home.what_we_do.description')
    / / OPINIONS
    / %section.slice.bg-white.bb
    /   .container
    /     %h2.opinions-title.text-center
    /       =I18n.t('visitors.home.opinions.title')
    /     #carouselWork.carousel.carousel-3.slide.animate-hover-slide
    /       .carousel-nav
    /         %a.left{"data-slide" => "prev", :href => "#carouselWork"}
    /           %i.fa.fa-angle-left
    /         %a.right{"data-slide" => "next", :href => "#carouselWork"}
    /           %i.fa.fa-angle-right
    /       / Wrapper for slides
    /       .carousel-inner 
    /         .item.active
    /           =render "opinion"
    /           =render "opinion"
    /           =render "opinion"
    /           =render "opinion"
    /         .item
    /           =render "opinion"
    /           =render "opinion"
    /           =render "opinion"
    /           =render "opinion"
    / //SERVICES
    / %secion.slice.bb.light-gray
    /   .container
    /     %br
    /     %h2.opinions-title.text-center
    /       =I18n.t('visitors.home.services.title')
    /     .row
    /       .col-md-7.col-md-offset-3
    /         %video#video1.video-js.vjs-styled-skin.base{ :controls => "", :poster => "#{asset_path('blog-img.jpg')}", :preload => "none"}
    /           %source{:src => "http://vjs.zencdn.net/v/oceans.mp4", :type => "video/mp4"}
    /           %source{:src => "http://vjs.zencdn.net/v/oceans.webm", :type => "video/webm"}

    /       / .col-md-6
    /       /   .section-title-wr
    /       /     %h3.section-title.left
    /       /       %span
    /       /         =I18n.t('visitors.home.services.title2')
    /       /   %p
    /       /     %span.primary-letter-style-1 
    /       /       =I18n.t('visitors.home.services.description2')
    /       /   %p
    /       /     =I18n.t('visitors.home.services.description2')
    /       /   %ul.list-check
    /       /     %li
    /       /       %i.fa.fa-check
    /       /       =I18n.t('visitors.home.services.description3')
    /       /     %li
    /       /       %i.fa.fa-check
    /       /       =I18n.t('visitors.home.services.description3')
    /       /     %li
    /       /       %i.fa.fa-check
    /       /       =I18n.t('visitors.home.services.description3')
    /   .services-icons.slice.background-image-1.bb.light-gray
    /     .wp-section
    /       .container
    /         .row
    /           .col-lg-3.col-md-6
    /             .wp-block.hero.white.no-margin
    /               .thmb-img
    /                 %i.fa.fa-lightbulb-o
    /               %h2 Generating ideas
    /               %p.text-center Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
    /           .col-lg-3.col-md-6
    /             .wp-block.hero.white.no-margin
    /               .thmb-img
    /                 %i.fa.fa-keyboard-o
    /               %h2 Prototype model
    /               %p.text-center Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
    /           .col-lg-3.col-md-6
    /             .wp-block.hero.white.no-margin
    /               .thmb-img
    /                 %i.fa.fa-code
    /               %h2 Design and Code
    /               %p.text-center Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
    /           .col-lg-3.col-md-6
    /             .wp-block.hero.white.no-margin
    /               .thmb-img
    /                 %i.fa.fa-rocket
    /               %h2 Launching and Monitoring
    /               %p.text-center Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.
    / %secion.slice.bb
    /   .wp-section.news-container
      
    /     %h1.text-center.news-title Noticias Eventos
    /     =render "news"
    / %section.slice.bg-base.background-image-3
    /   .wp-section
    /     .container
    /       .row
    /         .col-md-12
    /           .text-center
    /             %br
    /             %h3
    /               ENTERATE, PREGUNTA y DISFRUTA
    /               %br/
    /             %h3.text-lighter de los beneficios de ser emprendedor
    /             %span.clearfix
    /             %br/
    /             .text-center
    /               %a.btn.btn-lg.btn-b-white.mt-20.ext-source{:href => "http://player.vimeo.com/video/22290612", :title => ""} Registrate
    / %section.slice.white.bb.team-members-1
    /   %h2.opinions-title.text-center Mentores Expertos
    /   %br
    /   %br
    /   =render "team1"
    / %section.slice.light-gray.bb.animate-hover-slide-2.team-members-2
    /   =render "team2"
    / %section.backgorund-light-blue{"data-stellar-ratio" => "2"}
    /   .container{:style => "min-height: 450px; padding: 50px 0"}
    /     .row
    /       .col-md-12
    /         .text-center
    /           %h4.c-white
    /             %i.fa.fa-rocket.fa-4x
    /           %h2.c-white Anímate, muchos ya han optado por hacer parte de emprende creatic
    /           .row
    /             .col-sm-6.col-md-3
    /               .pie-chart{"data-color" => "#FFF", "data-percent" => "91"}
    /                 %span.percent 91
    /                 .chart-text
    /                   %h3.c-white Empresas en Ideación
    /                 %canvas{:height => "300", :style => "height: 150px; width: 150px;", :width => "300"}
    /             .col-sm-6.col-md-3
    /               .pie-chart{"data-color" => "#FFF", "data-percent" => "23"}
    /                 %span.percent 23
    /                 .chart-text
    /                   %h3.c-white Empresas en Validacion de mercado
    /                 %canvas{:height => "300", :style => "height: 150px; width: 150px;", :width => "300"}
    /             .col-sm-6.col-md-3
    /               .pie-chart{"data-color" => "#FFF", "data-percent" => "68"}
    /                 %span.percent 68
    /                 .chart-text
    /                   %h3.c-white Dato 3
    /                 %canvas{:height => "300", :style => "height: 150px; width: 150px;", :width => "300"}
    /             .col-sm-6.col-md-3
    /               .pie-chart{"data-color" => "#FFF", "data-percent" => "90"}
    /                 %span.percent 90
    /                 .chart-text
    /                   %h3.c-white Dato 4
    /                 %canvas{:height => "300", :style => "height: 150px; width: 150px;", :width => "300"}
    %section.slice.bg-white
      .wp-section
        .container
          .section-title-wr
            %h3.section-title.left
              %span Nuestros Aliados
          .row
            .col-md-2.col-sm-4.col-xs-6
              .client
                %a{:href => "#"}
                  =image_tag "alcaldia.png"
            .col-md-2.col-sm-4.col-xs-6
              .client
                %a{:href => "#"}
                  =image_tag "sena.png"
            .col-md-2.col-sm-4.col-xs-6
              .client
                %a{:href => "#"}
                  =image_tag "fup.png"
            .col-md-2.col-sm-4.col-xs-6
              .client
                %a{:href => "#"}
                  =image_tag "agroinnova.jpg"
            .col-md-2.col-sm-4.col-xs-6
              .client
                %a{:href => "#"}
                  =image_tag "cafeteros.png"
            .col-md-2.col-sm-4.col-xs-6
              .client
                %a{:href => "#"}
                  =image_tag "comfacauca.png"
            .col-md-2.col-sm-4.col-xs-6
              .client.margin-20
                %a{:href => "#"}
                  =image_tag "ucc.png"
            .col-md-4.col-sm-4.col-xs-6
              .client.margin-20
                %a{:href => "#"}
                  =image_tag "ucm.jpg"
/Sign in modal
=render "/static_pages/sign_in_modal"
:javascript
  videojs("video1", {
          "height": "auto",
          "width": "auto"
      }).ready(function() {
          var myPlayer = this; // Store the video object
          var aspectRatio = 1 / 2; // Make up an aspect ratio
          function resizeVideoJS() {
              // Get the parent element's actual width
              var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
              // Set width to fill parent element, Set height
              myPlayer.width(width).height(width * aspectRatio);
          }
          resizeVideoJS(); // Initialize the function
          window.onresize = resizeVideoJS; // Call the function on resize
      });