%body
  / MAIN WRAPPER
  / HEADER
  #divHeaderWrapper
    / HEADER: Cover example - includes a full page header with with background and semi-opaque navigation with sticky navbar activated
    %header.header-alpha.header-cover
      / Top Header
      %nav.navbar.user-navbar.navbar-transparent
        .container
          =link_to root_path ,class: "navbar-brand" ,data: { no_turbolink: true},class: "navbar-brand image-responsive " do
            =image_tag "logo-emprende.png"
          .nav.navbar-right
            %li.inline-nav-item
              =link_to new_entrepreneur_registration_path ,class: "sign-up-navbar"do
                =I18n.t('navbar.links.sign_up')
            %li.login-nav-item
              %a.sign-in-navbar{"data-target" => "#signInModal", "data-toggle" => "modal", :type => "button"}
                =I18n.t('navbar.links.sign_in')

            %li.dropdown.inline-nav-item.dropdown-search.animate-click{"data-animate-in" => "animated fadeInUp", "data-animate-out" => "animated fadeOutDown", :style => "z-index:500;"}
              %a.dropdown-form-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-search
              %ul.dropdown-menu.dropdown-menu-search.animate-wr
                %li#dropdownForm
                  .dropdown-form
                    %form.form-default.form-horizontal.p-15
                      .input-group
                        %input.form-control{:onfocus => "return false;", :placeholder => "I want to find ...", :type => "text"}/
                        %span.input-group-btn
                          %button.btn.btn-base{:type => "button"} Go
  %section.not-found-backgroud
    .container
      = image_tag "404.png", class: "img-fluid center-block image-responsive"
      %h1.text-center.not-found-text
        = I18n.t('views.static_pages.not_found.page_not_found')


  %section.slice.bg-white
    .wp-section
      .container
        .section-title-wr
          %h3.section-title.left
            %span Nuestros Aliados
        .row
          .col-md-2.col-sm-4.col-xs-6
            .client
              %a{:href => "#"}
                =image_tag "alcaldia.png"
          .col-md-2.col-sm-4.col-xs-6
            .client
              %a{:href => "#"}
                =image_tag "sena.png"
          .col-md-2.col-sm-4.col-xs-6
            .client
              %a{:href => "#"}
                =image_tag "fup.png"
          .col-md-2.col-sm-4.col-xs-6
            .client
              %a{:href => "#"}
                =image_tag "agroinnova.jpg"
          .col-md-2.col-sm-4.col-xs-6
            .client
              %a{:href => "#"}
                =image_tag "cafeteros.png"
          .col-md-2.col-sm-4.col-xs-6
            .client
              %a{:href => "#"}
                =image_tag "comfacauca.png"
          .col-md-2.col-sm-4.col-xs-6
            .client.margin-20
              %a{:href => "#"}
                =image_tag "ucc.png"
          .col-md-4.col-sm-4.col-xs-6
            .client.margin-20
              %a{:href => "#"}
                =image_tag "ucm.jpg"