= simple_form_for idea ,url: update_registration_startup_idea_path(@startup,idea) ,method: :put, validate:true, remote: true do |f|
  = f.error_notification
  = f.input :name
  = f.input :description
  = f.input :problem_definition
  = f.input :idea_type, label: I18n.t('views.ideas.registration.edit_idea_registration_form.type') , :as => :select, :collection => [["#{I18n.t('views.ideas.registration.edit_idea_registration_form.product')}", 'product'],["#{I18n.t('views.ideas.registration.edit_idea_registration_form.service')}", 'service']], :include_blank => false
  .modal-footer
    = f.button :submit, I18n.t('views.ideas.registration.edit_idea_registration_form.save'), class: "btn btn-default btn-width"