= simple_form_for [@startup,idea], validate:true ,remote: true do |f|
  = f.error_notification
  = f.input :name
  = f.input :description, :input_html => { :rows => 10 }
  = f.input :problem_definition, :input_html => { :rows => 10 }
  = f.input :idea_type, label: I18n.t('views.ideas.registration.new_idea_registration_form.type') , :as => :select, :collection => [["#{I18n.t('views.ideas.registration.new_idea_registration_form.product')}", 'product'],["#{I18n.t('views.ideas.registration.new_idea_registration_form.service')}", 'service']], :include_blank => false
  .modal-footer
    = f.button :submit, I18n.t('views.ideas.registration.new_idea_registration_form.save'), class: "btn btn-default btn-width"