.div{id: "unactive-idea-#{idea.id}"}
  %li.unactive-idea
    %a{"aria-controls" => "idea-details-#{idea.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#idea-details-#{idea.id}", :role => "button"}
      .glyphicon.fa.fa-caret-square-o-down
    %p
      =idea.name
      .idea-edit-options
        =#link_to I18n.t('buttons.show') ,  entrepreneur_show_startup_idea_path(@startup,idea)
        - if can? :admin, @startup
          = link_to  edit_registration_startup_idea_path(@startup, idea), remote: true   ,class: "btn-link" do
            .glyphicon.glyphicon-edit
            = I18n.t('views.ideas.registration.unactive_idea.edit')
  .unactive-collapse.collapse{id:"idea-details-#{idea.id}"}
    .well.unactive-idea-collapse
      %p
        %strong
          = I18n.t('views.ideas.registration.unactive_idea.type')
        =idea.idea_type.capitalize
      %p
        %strong
          = I18n.t('views.ideas.registration.unactive_idea.description')
        =idea.description
      %br
      %p
        %strong
          = I18n.t('views.ideas.registration.unactive_idea.problem_definition')
        =idea.problem_definition
