#configEntrepreneurAccount
  .container
    %h2
      = I18n.t('views.entrepreneurs.invitations.edit.title')
    .welcome-message
      =avatar_startup_tag resource.startups.first, "avatar-message"
      %p
        ="#{resource.startups.first.name} #{I18n.t('views.entrepreneurs.invitations.edit.invitation_label')}"
    %section.slice.bg-white
      .wp-section
        .wp-block.default.user-form
          .form-header
            %h2
              = I18n.t('views.entrepreneurs.invitations.edit.confirmation')
          .form-body
            .row
              = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f|
                =# devise_error_messages!
                .col-md-4.col-md-offset-2.col-sm-6
                  = f.input :first_name
                  = f.input :last_name
                  = f.input :phone
                .col-md-4.col-sm-6
                  = f.hidden_field :invitation_token
                  = f.input :password
                  = f.input :password_confirmation
                  = f.button :submit, I18n.t('views.entrepreneurs.invitations.edit.update')

            
              