%section.slice.bg-white
  .wp-section
    .container
      .row
        .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
          .wp-block.default.user-form
            .form-header
              %h2 
                =I18n.t('views.entrepreneurs.passwords.edit.change')
            .form-body
              = simple_form_for(resource, as: resource_name, url: password_path(resource_name),class: 'sky-form', html: { method: :put }) do |f|
                = f.error_notification
                %fieldset
                  %section
                    .form-group
                      = f.input :reset_password_token, as: :hidden
                      = f.full_error :reset_password_token 
                  
                  %section
                    .form-group
                      = f.input :password, label: I18n.t('views.entrepreneurs.passwords.edit.new_password') , required: true, autofocus: true, hint: ("#{@minimum_password_length} #{I18n.t('views.entrepreneurs.passwords.edit.characters_minimum')}" if @minimum_password_length)
                  %section
                    .form-group
                      = f.input :password_confirmation, label: I18n.t('views.entrepreneurs.passwords.edit.confirmation'), required: true
                  %section
                    = f.button :submit, I18n.t('views.entrepreneurs.passwords.edit.change')
            .form-footer
              = render "entrepreneurs/shared/links"
        