
.col-md-6
  =link_to startup_idea_path(idea.startup,idea) ,class: "idea-link-list" do 
    .idea
      .container-fluid
        %row.row
          .col-sm-5
            .idea-content-title{style: "height: 100%!important; min-height: 150px"}
              .idea-title
                %strong
                  /%a{ "data-toggle"=>"tooltip", title:"#{idea.startup.name}","data-placement"=>"bottom"}
                  /  =avatar_mini_startup_tag idea.startup , "startup-mini-thumb" 
                  =idea.name

              =avatar_idea_tag idea , "idea-avatar-image"
              .idea-options.text-center
                .idea-buttons
          .col-sm-7
            %h2.total-percentage.text-center
              ="#{idea.idea_process.completed_percentage}%"
            %p.process-name
              /%strong Proceso:
              =idea.idea_process.model.name
            %p.process-name
              %strong
                =idea.idea_process.finished_activities.count
              = I18n.t('views.ideas.active_ideas.completed_activities')
