= simple_form_for idea , url: advisor_follow_idea_startup_idea_path(startup, idea), method: :post, remote: true do |f|
  = f.error_notification
  - if current_advisor.following?(idea)
    = f.button :submit, I18n.t('views.ideas.advisor_follow_idea.unfollow'), class: 'btn btn-info btn-width'
  - else
    = f.button :submit, I18n.t('views.ideas.advisor_follow_idea.follow'), class: 'btn btn-default btn-width'