= simple_form_for (@idea),:url => avatar_startup_idea_path(@startup,@idea),html:{id: "ideaAvatarForm"} ,:method => :put do |f|
  %fieldset
    %section
      .form-group
        = f.input :avatar , label: "Logo",as: :file, :hint => avatar_idea_tag(f.object,'avatar')
=link_to I18n.t('views.ideas.avatar_form.upload_image'), "#",class: "btn btn-default btn-width", id: "ideaAvatarlink"

              