#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    -@idea.images.drop(1).each_with_index do |image,i|
      %li{"data-slide-to" => "#{i+1}", "data-target" => "#carousel-example-generic"}
  .carousel-inner
    %a.test-popup-link.item.active{:href => "#{@idea.images.first.image_url}"} 
      =image_tag @idea.images.first.image_url(:medium)
    -@idea.images.drop(1).each do |image|
      %a.test-popup-link.item{:href => "#{image.image_url}"} 
        =image_tag image.image_url(:medium)

  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
    %span.glyphicon.glyphicon-chevron-right
  