.nested-fields
  = f.input :image, :hint => link_to_if( f.object.image.present?, "#{File.basename(f.object.image.to_s)}" , f.object.image.url) ,:required => false, :as => :file
  = f.input :description
  = link_to_remove_association  I18n.t('views.ideas.image_fields.delete_image'), f