<% if flash[:notice] %>
  $("#customAlerts").html("<div class='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><%= escape_javascript flash[:notice]%></div>");
  $(".alert").delay(5000).fadeOut();
  $("#advisor_follow_idea").html('').html("<%= j render(partial: 'advisor_follow_idea', locals: { startup: @startup , idea: @idea}) %>");
<% end %>