%ol.breadcrumb
  %li
    =link_to startup_path(@startup) do
      =@startup.name
  %li.active
    =link_to startup_idea_path(@startup,@idea) do
      =@idea.name

%section#ideaProfile
  .idea-profile-header.main-idea
    / %h1.idea-name-title
    /   =@idea.name
    .row
      .col-sm-6
        .idea-logo
          =avatar_idea_tag @idea , "idea-profile-image"
        .idea-info-profile
          %h3
            =@idea.name
          - if !@idea.website.nil?
            - if !@idea.website.empty?
              = link_to @idea.website, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-globe
                    = I18n.t('views.ideas.entrepreneur_show.website')
          - if !@idea.twitter.nil?
            - if !@idea.twitter.empty?
              = link_to @idea.twitter, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-twitter
                    Twitter
          - if !@idea.facebook.nil?
            - if !@idea.facebook.empty?
              = link_to @idea.facebook, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-facebook
                    Facebook
  .row
    .advisor-admin-options.well.col-md-8.col-md-offset-2
      %h3.title-advisor-options
        = I18n.t('views.ideas.advisor_show.options_advisor')
      - if @startup.is_active?
        .advisor-options-container
          .advisor-option
            /%h3 Estado Idea
            %label#checkboxContainer
              =check_box_tag "is_active", true, @idea.is_active, id: "ideaCheckbox"
              %span
                = I18n.t('views.ideas.advisor_show.active_idea_question')
          - if @idea.idea_process
            .advisor-edit-drive
              %button.btn.btn-default.btn-width#edit-drive-link
                = I18n.t('views.ideas.advisor_show.edit_drive_folder')
          .advisor-option
            /%h3 Seguir Idea
            #advisor_follow_idea
              = render partial: 'advisor_follow_idea' , locals: {startup: @startup , idea: @idea}
        %br
        %h3.title-advisor-options
          = I18n.t('views.ideas.advisor_show.achievements')
        #idea-achievements-list.achivements-center
          - @idea.idea_achievements.each do |achievement|
            = render partial: 'idea_achievements/idea_achievement',locals: {startup: @startup, idea: @idea, idea_achievement: achievement}
        .idea-profile-achievemen
          = link_to new_achievement_startup_idea_path(@startup, @idea), remote: true, id: 'create_new_idea_achievement_link', class: 'btn btn-width btn-default' do
            %i.fa.fa-plus
            = I18n.t('views.ideas.advisor_show.add_achievement')

  %section.idea-more-info
    .row
      .idea-profile-info.col-md-8.col-md-offset-2
        -if @idea.images.any?
          =render "images_carousel"
        -else
          %div.empty-carousel.text-center
            %p
              = I18n.t('views.ideas.advisor_show.no_screenshots')
            
        .data-box
          %h3
            = I18n.t('views.ideas.advisor_show.resume')
          %p.idea-summary
            =@idea.description
        .data-box
          %h3
            = I18n.t('views.ideas.advisor_show.problem_description')
          %p.idea-problem
            =@idea.problem_definition

    .idea-stages-container
      -if @idea.idea_process
        .idea-profile-process
          %h3.main-title
            ="#{@idea.idea_process.model.name}"
          .idea-process-info
            %p
              %strong.main-percentage
                = "#{@idea.idea_process.completed_percentage}%"
              = I18n.t('views.ideas.advisor_show.completed')
              Completo
            %p
              %strong
                = "#{@idea.idea_process.finished_activities.count}"
              = I18n.t('views.ideas.advisor_show.finished_activities')
            %p
              %strong
                = "#{@idea.idea_process.finished_stages.count}"
              = I18n.t('views.ideas.advisor_show.finished_stages')
        - if @startup.is_active?
          %br
          - if @idea.has_finished_stages? && @idea.idea_process.due_date.nil?
            .idea-process-pivot
              = link_to new_pivot_startup_idea_path(@startup, @idea), remote: true, id: 'create_new_idea_pivot_link', class: 'btn btn-width btn-default' do
                %i.fa.fa-plus
                  = I18n.t('views.ideas.advisor_show.generate_pivot')
          - if @idea.all_stages_finished?
            .idea-process-finish
              = link_to finish_process_startup_idea_path(@startup, @idea), id: 'finish_idea_process_link', class: 'btn btn-width btn-default' do
                %i.fa.fa-plus
                  = I18n.t('views.ideas.advisor_show.finish_process')
          %br


        -@idea.idea_process.model.stage_models.each do |stage_model|
          %ul.timeline.idea-profile-stages
            -@idea.idea_process.idea_stages.each do |stage|
              - if stage.stage_model_id == stage_model.id
                %li.idea-stage-timeline{class: "#{stage.status}"}
                  %a.idea-stage.timeline-badge{class: "stage-#{stage.status}" ,tabindex: "0" ,  role: "button", "data-toggle"=>"popover", "data-trigger"=>"focus" ,"data-placement"=>"bottom",'data-status'=> "#{I18n.t("activerecord.attributes.idea_stage.stage_status.#{stage.status}")}", "data-complete"=>"#{stage.finished_activities.count}","data-title"=>"#{stage.model.name}","data-status-id"=>"#{stage.status}","data-start-date"=>"#{date_formated(stage.start_date)}","data-due-date"=>"#{date_formated(stage.due_date)}"}
                    =image_tag stage.model.image_url(:thumb), class: "stage-image-thumb #{stage.status}"
                    .idea-stage-icon-small
                      =status_icon(stage.status)
                  .timeline-panel.idea-profile-stage{class: "#{stage.status}","style"=>"background: #{stage.model.color unless stage.status=="pending"};"}
                    .timeline-heading
                      %h2
                        -if stage.is_pivot
                          = I18n.t('views.ideas.advisor_show.custom_pivot')
                        =stage.model.name
                        %span.status.right
                          =" - #{stage.completed_percentage}%"
                          =#{}"- Etapa #{I18n.t("activerecord.attributes.idea_stage.stage_status.#{stage.status}")} -"
                        =#stage_dates(stage)  
                    - if @startup.is_active?
                      .timeline-body
                        .row
                          .stage_statuses
                            -# if @stage_active.nil?
                            = render partial: 'idea_stages/update_status_form' , locals: { idea_stage: stage}
                            -# elsif stage == @stage_active
                              -# = render partial: 'idea_stages/update_status_form' , locals: { idea_stage: stage}

                        .idea-profile-activities
                          -stage.idea_activities.each do |activity|
                            - if stage.status == 'start' || stage.status == 'finish'
                              = link_to idea_activity_show_path(activity) , class: "idea-profile-activity activity-#{activity.status}" do
                                =activity.model.name
                                .idea-stage-icon
                                  =status_icon(activity.status)
                            -else
                              %span.idea-profile-activity{class: "activity-#{activity.status}"}
                                = activity.model.name
/ modals
#activateIdeaModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.ideas.advisor_show.activate_idea')
      .modal-body
        -if @idea.idea_process
          %p
            = I18n.t('views.ideas.advisor_show.reactivate_idea')
        =form_tag activate_startup_idea_path(@startup,@idea), id: 'activate_startup_idea_form', method: :put do |f|
          -unless @idea.idea_process
            .container-fluid
              .col-md-6
                .row
                  %strong
                    = I18n.t('views.ideas.advisor_show.select_process')
                  = select_tag 'process_id', options_from_collection_for_select(@processes, "id", "name"), class: "form-control"
                  %br
                .row
                  %strong
                    = I18n.t('views.ideas.advisor_show.link_google_drive_folder')
                  = link_to  '#', id: 'link_drive_folder' , class: 'google_drive_link_folder' do
                    = image_tag('drive_icon.png', class: 'artifact_drive_file_icon')
                  = hidden_field_tag 'drive_folder', '', id: 'active_idea_drive_folder_input'
                  = hidden_field_tag 'drive_folder_link', '', id: 'active_idea_drive_folder_link_input'
                  #folder-picker-div
                  %br
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              = I18n.t('views.ideas.advisor_show.close')
            =submit_tag I18n.t('views.ideas.advisor_show.activate_idea'), class: "btn btn-primary activate-idea-button"
/ Deactivate Modal
#deactivateIdeaModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.ideas.advisor_show.deactivate_idea')
      .modal-body
        = I18n.t('views.ideas.advisor_show.deactivate_idea_question')
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          = I18n.t('views.ideas.advisor_show.close')
        =link_to I18n.t('views.ideas.advisor_show.i_am_sure'), deactivate_startup_idea_path(@startup,@idea), method: :put , class: "btn btn-primary"
/ Add a new achievement
#achievementIdeaModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.ideas.advisor_show.add_achievement')
      .modal-body
        .container-fluid
          .row
            .col-md-12
              #idea_achievement_form_errors
          .row
            .col-md-12
              #idea_achievement_partial
/Add a new pivot form
#pivotIdeaModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.ideas.advisor_show.generate_pivot')
      .modal-body
        .container-fluid
          .row
            .col-md-12
              #idea_pivot_form_errors
          .row
            .col-md-12
              #idea_pivot_partial
/Edit drive link
#EditDriveLinkModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#editDriveLinkLabel.modal-title
          = I18n.t('views.ideas.advisor_show.edit_drive_folder')
      .modal-body
        .container-fluid
          .row
            .col-md-12
              =form_tag edit_drive_folder_startup_idea_path(@startup,@idea), id: 'edit_drive_link_form', method: :put do |f|
                -if @idea.idea_process
                  .container-fluid
                    .col-md-6
                      .row
                        %strong
                          = I18n.t('views.ideas.advisor_show.link_google_drive_folder')
                        = link_to  '#', id: 'edit_link_drive_folder' , class: 'google_drive_link_folder' do
                          = image_tag('drive_icon.png', class: 'artifact_drive_file_icon')
                        = hidden_field_tag 'edit_drive_folder', '', id: 'edit_drive_folder_input'
                        = hidden_field_tag 'edit_drive_folder_link', '', id: 'edit_drive_folder_link_input'
                        #edit-folder-picker-div
                        %br
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  =submit_tag I18n.t('views.ideas.advisor_show.save_drive_folder') ,class: "btn btn-primary"
