%ol.breadcrumb
  %li
    =link_to startup_path(@startup) do
      =@startup.name
  %li
    =link_to startup_idea_path(@startup,@idea) do
      =@idea.name
  %li.active
    = I18n.t('views.ideas.edit.edit_profile')
%section
  .wp-section
    .row
      .col-md-12
        .wp-block.default.user-form
          .form-header
            %h2
              = I18n.t('views.ideas.edit.edit_idea_profile')
          .form-body
            #avatarForm
              =render "avatar_form"
            = simple_form_for @idea , url: startup_idea_path(@startup,@idea), method: :put  do |f|
              = f.error_notification
              .row
                .col-md-6
                  = f.input :name
                  = f.input :website, hint: I18n.t('views.ideas.edit.website_hint')
                  = f.input :idea_type, label: I18n.t('views.ideas.edit.idea_type'), :as => :select, :collection => [["#{I18n.t('views.ideas.edit.product')}", 'product'],["#{I18n.t('views.ideas.edit.service')}", 'service']], :include_blank => false
                .col-md-6
                  = f.input :facebook
                  = f.input :twitter
              %br
              = f.input :description, :input_html => { :rows => 10 }
              = f.input :problem_definition, :input_html => { :rows => 10 }
            
              %br
              .center-align
                =# f.button :submit, "Guardar Cambios", class: "btn btn-primary btn-width"
            %br
            %h4
              = I18n.t('views.ideas.edit.screenshots')
            .form-body
              #images_preview.row
                -@idea.images.each do |image|
                  =render image
              =form_for @idea.images.new do |f|
                =f.label :image
                =f.hidden_field :idea_id , :value => @idea.id
                =f.file_field :image, multiple: true, name: "image[image]" , id: "new_image_field"
              %br
              =link_to  "#", class: "btn btn-link", id: "addIdeaImage" do
                .fa.fa-plus
                = I18n.t('views.ideas.edit.new_image')
              #imagesUpload
            %br
            %br
            =link_to I18n.t('views.ideas.edit.save'), "#",class: "btn btn-primary btn-width" , id: "btnSaveIdea"
            =link_to I18n.t('views.ideas.edit.back'), startup_idea_path(@idea.startup,@idea),class: "btn btn-default btn-width"
=render partial: "images/uploads"
