%ol.breadcrumb
  %li
    =link_to startup_path(@startup) do
      =@startup.name
  %li.active
    =link_to startup_idea_path(@startup,@idea) do
      =@idea.name

%section#ideaProfile
  .idea-profile-header.main-idea
    / %h1.idea-name-title
    /   =@idea.name
    .row
      .col-sm-6
        .idea-logo
          =avatar_idea_tag @idea , "idea-profile-image"
        .idea-info-profile
          %h3
            =@idea.name
          - if !@idea.website.nil?
            - if !@idea.website.empty?
              = link_to @idea.website, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-globe
                    = I18n.t('views.ideas.entrepreneur_show.website')
          - if !@idea.twitter.nil?
            - if !@idea.twitter.empty?
              = link_to @idea.twitter, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-twitter
                    Twitter
          - if !@idea.facebook.nil?
            - if !@idea.facebook.empty?
              = link_to @idea.facebook, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-facebook
                    Facebook
      .col-sm-6
        .idea-achievements
          %p
            %strong
              = I18n.t('views.ideas.entrepreneur_show.achievements')
          #idea-achievements-list.text-center
            -unless @idea.idea_achievements.any? 
              %p.message
                = I18n.t('views.ideas.entrepreneur_show.no_achievements')
            - @idea.idea_achievements.each do |achievement|

              = render partial: 'idea_achievements/entrepreneur_idea_achievement',locals: {idea_achievement: achievement}
    .edit-options-idea
      - if can? :admin , @startup
        =link_to edit_startup_idea_path(@startup,@idea), class: "btn btn-primary btn-width" do
          .fa.fa-edit
          = I18n.t('views.ideas.entrepreneur_show.edit_info')
%section.idea-more-info
  .row
    .idea-profile-info.col-md-8.col-md-offset-2
      -if @idea.images.any?
        =render "images_carousel"
      -else
        %div.empty-carousel.text-center
          %p
            = I18n.t('views.ideas.entrepreneur_show.no_screenshots')
          
      .data-box
        %h3
          = I18n.t('views.ideas.entrepreneur_show.resume')
        %p.idea-summary
          =@idea.description
      .data-box
        %h3
          = I18n.t('views.ideas.entrepreneur_show.problem_description')
        %p.idea-problem
          =@idea.problem_definition

  .idea-stages-container

    %h3.main-title
      ="#{@idea.idea_process.model.name}"
    .idea-process-info
      %p
        %strong.main-percentage
          = "#{@idea.idea_process.completed_percentage}%"
        = I18n.t('views.ideas.entrepreneur_show.complete')
      %p
        %strong
          = "#{@idea.idea_process.finished_activities.count}"
        = I18n.t('views.ideas.entrepreneur_show.finished_activities')
      %p
        %strong
          = "#{@idea.idea_process.finished_stages.count}"
        = I18n.t('views.ideas.entrepreneur_show.finished_stages')
    -@idea.idea_process.model.stage_models.each do |stage_model|
      %ul.timeline.idea-profile-stages
        -@idea.idea_process.idea_stages.each do |stage|
          - if stage.stage_model_id == stage_model.id
            %li.idea-stage-timeline{class: "#{stage.status}"}
              %a.idea-stage.timeline-badge{class: "stage-#{stage.status}" ,tabindex: "0" ,  role: "button", "data-toggle"=>"popover", "data-trigger"=>"focus" ,"data-placement"=>"bottom",'data-status'=> "#{I18n.t("activerecord.attributes.idea_stage.stage_status.#{stage.status}")}", "data-complete"=>"#{stage.finished_activities.count}","data-title"=>"#{stage.model.name}","data-status-id"=>"#{stage.status}","data-start-date"=>"#{date_formated(stage.start_date)}","data-due-date"=>"#{date_formated(stage.due_date)}"}
                =image_tag stage.model.image_url(:thumb), class: "stage-image-thumb #{stage.status}"
                .idea-stage-icon-small
                  =status_icon(stage.status)
              .timeline-panel.idea-profile-stage{class: "#{stage.status}","style"=>"background: #{stage.model.color unless stage.status=="pending"};"}
                .timeline-heading
                  %h2
                    -if stage.is_pivot
                      = I18n.t('views.ideas.entrepreneur_show.custom_pivot')
                    =stage.model.name
                    %span.status.right
                      =" - #{stage.completed_percentage}%"
                      =#{}"- Etapa #{I18n.t("activerecord.attributes.idea_stage.stage_status.#{stage.status}")} -"
                    =#stage_dates(stage)  
                .timeline-body
                  
                  .idea-profile-activities
                    -stage.idea_activities.each do |activity|
                      - if stage.status == 'start' || stage.status == 'finish'
                        - if can? :admin , @startup
                          = link_to idea_activity_show_path(activity) , class: "idea-profile-activity activity-#{activity.status}" do
                            =activity.model.name
                            .idea-stage-icon
                              =status_icon(activity.status)
                        -else
                          %div{class: "idea-profile-activity activity-#{activity.status}"}
                            =activity.model.name
                            .idea-stage-icon
                              =status_icon(activity.status)
                      -else
                        %span.idea-profile-activity{class: "activity-#{activity.status}"}
                          = activity.model.name
