$('#idea_pivot_partial').html('').html("<%= j render(partial: 'idea_pivots/idea_pivots_form', locals: { startup: @startup, idea: @idea, idea_stages: @idea_stages , new_idea_stage: @new_idea_stage}) %>");
$('#pivotIdeaModal').modal('show');