$('#idea_achievement_partial').html('').html("<%= j render(partial: 'idea_achievements/idea_achievement_form', locals: { startup: @startup, idea: @idea, idea_achievement: @idea_achievement, achievement_model: @achievement_model}) %>");
$('#achievementIdeaModal').modal('show');