$("#editStartupIdea").modal('hide');
$("#customAlerts").html('<div class="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= I18n.t('views.ideas.update_registration_js.message')%></div>');
$(".alert").delay(5000).fadeOut();
var id = "#unactive-idea-<%=@idea.id%>";
$(id).replaceWith("<%= j render partial: 'ideas/registration/unactive_idea', locals: {idea: @idea}%>");
$(id).find('.unactive-idea').effect("highlight", {color: "#4b77be"}, 3000);
$(id).find('.collapse').collapse('show');
