.comment-form
  = simple_form_for [@activity, comment], validate: true, :method => :post, :remote => true do |f|
    = f.error_notification
    / %label
    /   = I18n.t('views.comments.tag_list')
    /%ul#commentTags
    =# f.input :subject, as: :hidden, input_html:{id: 'comment_tag_list_field'}
    = f.input :body, :input_html => { :rows => "2" }, :label => false
    = f.button :submit, I18n.t('views.comments.leave_comment'), :class => "btn btn-default btn-width", :disable_with => "Submitting…"