// clean the comments form
$('#new_comment').resetForm();
$('#commentTags').tagit("removeAll");
// generate the new comment
$('#activity_comments_paginated').html('').append("<%= j render(partial: 'idea_activities/comments_paginated', locals: {comments_paginated: @comments_paginated, activity: @activity}) %>");