// remove the comment from the view
$("#activity_comments_paginated #comment-<%=@comment.id%>").hide('slow', function(){
  $(target).remove();
});
// introduce a delay after delete a new comment
setTimeout(function(){
  $('#activity_comments_paginated').html('').append("<%= j render(partial: 'idea_activities/comments_paginated', locals: {comments_paginated: @comments_paginated , activity: @activity}) %>");
}, 1000);