$('#entrepreneursIndex').html('').append("<%= j render(partial: 'entrepreneurs/index_entrepreneurs_filtered', locals: { entrepreneurs: @entrepreneurs}) %>");

var counter = "<%= @entrepreneurs.count %>"
var query = "<%= @query %>"
var response = 'Se encontraron '+ counter + ' coincidencias para ' + "'"+query+"'"
$('.query-back-link').show()
$('.query-message').html(response)