#configEntrepreneurAccount
  .container
    .row
      .col-md-4.col-sm-6
        %section.slice.bg-white
          .wp-section
            .wp-block.default.user-form
              .form-header
                %h2
                  = I18n.t('views.entrepreneurs.registrations.edit.headline')
              .form-body
                = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                  = f.error_notification
                  = f.input :password,label: I18n.t('views.entrepreneurs.registrations.edit.new_password'), autocomplete: "off", hint: I18n.t('views.entrepreneurs.registrations.edit.leave_blank'), required: false
                  = f.input :password_confirmation, required: false
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %p
                      #{I18n.t('views.entrepreneurs.registrations.edit.waiting_confirmation')} #{resource.unconfirmed_email}
                  = f.input :current_password, hint: I18n.t('views.entrepreneurs.registrations.edit.current_password') , required: true
                  .center-align
                    = f.button :submit, I18n.t('views.entrepreneurs.registrations.edit.save_changes'), class: "btn-width btn btn-default"
      .col-md-8.col-sm-6
        / %section.slice.bg-white
        /   .wp-section
        /     .wp-block.default.user-form
        /       .form-header
        /         %h2
        /           = I18n.t('views.entrepreneurs.registrations.edit.cancel_account')
        /       .form-body
        /         %p
        /           = I18n.t('views.entrepreneurs.registrations.edit.unhappy')
        /         %p
        /           = I18n.t('views.entrepreneurs.registrations.edit.cancel_account_message')
        /         - if resource.startups.nil? || resource.startups.empty?
        /           =link_to I18n.t('views.entrepreneurs.registrations.edit.cancel_account'), registration_path(resource_name), data: { confirm: I18n.t('views.entrepreneurs.registrations.edit.cancel_account_confirmation') }, method: :delete , class: "btn btn-danger btn-width"



