%section.slice.background-people
  .wp-section
    .container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
          .wp-block.default.user-form.entrepreneur-wp
            .form-header
              %h2
                = I18n.t('views.entrepreneurs.registrations.new.sign_up')
                %strong
                  = I18n.t('views.entrepreneurs.registrations.new.entrepreneurs')
            .form-body
              = simple_form_for(resource, as: resource_name, url: registration_path(resource_name),class: 'sky-form') do |f|
                = f.error_notification
                %fieldset
                  %section
                    .form-group
                      = f.input :email, autofocus: true 
                  %section
                    .form-group
                      = f.input :first_name, autofocus: true 
                  %section
                    .form-group
                      = f.input :last_name, autofocus: true
                  %section
                    .form-group
                      = f.input :phone, autofocus: true 
                  %section
                    .form-group
                      = f.input :password , hint: ("#{@minimum_password_length} #{I18n.t('messages.characters_minimum')}" if @minimum_password_length)
                  %section
                    .form-group
                      = f.input :password_confirmation
                  %section
                    = f.button :submit, I18n.t('buttons.sign_up'),class: "btn btn-icon btn-icon-right btn-sign-in pull-right"
            .form-footer
              = render "entrepreneurs/shared/links"
        