.list-group-item.row{"data-id"=>conversation.id,class: "#{'read' if conversation.is_read? current_emprende_user }"}
  .mail-box-item.checkbox.col-xs-1
    .checkbox
      %label
        %input{:type => "checkbox"}
  =link_to show_conversation_path(conversation) do
    .row
      .mail-box-item.name.col-xs-3{:style => "min-width: 120px;\r\n display: inline-block;"}
        =conversation.last_message.sender.name
        -if conversation.last_message.sender_type == "Advisor"
          %span.label.label-info
            = I18n.t('views.conversations.conversation.advisor')
      .mail-box-item.message.col-xs-5
        %strong.mail-box-subject
          =conversation.last_message.subject  
        %span.mail-box-body
          =" - #{h truncate(conversation.last_message.body, length: 50)}"
      .mail-box-item.pull-right.col-xs-2
        =conversation.last_message.created_at.strftime("%I:%M%p - %m/%d/%Y")