= simple_form_for :message, url: reply_conversation_path(conversation) do |f|
  = f.input :subject ,:as => :hidden ,:input_html => { :value => "RE: #{conversation.subject}"}
  = f.input :body,as: :text
  .form-actions
    = f.button :submit, I18n.t('views.conversations.form.reply') ,class: 'btn-primary',data: { disable_with: "Espere un momento..."} 
