#messageForm.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
      .modal-body.message-body
        = form_for :conversation, url: :conversations ,remote: true , html: {id: "conversationForm"} do |f|
          .form-group
            = f.hidden_field :email
            = f.hidden_field :type
            = f.text_field :subject,required: "", placeholder: I18n.t('views.conversations.message_form.subject'), class: "form-control"
          .form-group
            = f.text_area :body,required: "", placeholder: I18n.t('views.conversations.message_form.message'), class: "form-control"
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              = I18n.t('views.conversations.message_form.cancel')
            = f.submit I18n.t('views.conversations.message_form.send') ,class: 'btn btn-primary'
      
