.panel.panel-default.message-item
  #headingOne.panel-heading{"aria-controls" => "message-#{message.id}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#message-#{message.id}", :role => "button"}
    .panel-title.message-header
      %div.message-sender-info
        .sender-avatar
          =avatar_tag message.sender , "sender-thumb"
        .message-info
          .message-subject-header
            ="#{message.subject}:"
          .message-body-header
            ="#{h truncate(message.body,lenght: 50)} ..."
  .panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel",id: "message-#{message.id}"}
    .panel-info.container-fluid
      .sender-name
        %strong
          = I18n.t('views.conversations.message.sent_by')
        .pull-right
          .message-date
            =message.created_at.strftime("%I:%M%p - %m/%d/%Y") 
        =message.sender.name
        -if message.sender_type == "Advisor"
          %span.label.label-info.sender-label
            = I18n.t('views.conversations.message.advisor')
    .panel-body
      =message.body
