%ul.nav.nav-pills.nav-stacked
  %li{class: "#{active_class_tag('inbox')}"}
    =link_to inbox_path do
      =unread_conversations_badge
      Inbox
  %li{class: "#{active_class_tag('sentbox')}"}
    =link_to  I18n.t('views.conversations.sidebar.sent'), sentbox_path
  %li{class: "#{active_class_tag('trash')}"}
    =link_to I18n.t('views.conversations.sidebar.deleted'), trash_path