//$("#pushAlerts").html("<div class='alert'><%=@message%></div>");
$("#messageForm .message-body").html("<strong class='message-alert'> <%= I18n.t('views.conversations.create_js.success') %></strong>");