.mailbox
  .row
    .col-sm-3.col-md-2
      
    .col-sm-9.col-md-10
      / Split button
      .btn-group
        %button.btn.btn-primary
          %label
            %input{:type => "checkbox",id:"all-conversations-checkbox"}
        /%button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
        /  %span Filtrar
        /  %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"}
              = I18n.t('views.conversations.sentbox.all')
          %li
            %a{:href => "#"}
              = I18n.t('views.conversations.sentbox.none')
          %li
            %a{:href => "#"}
              = I18n.t('views.conversations.sentbox.read')
          %li
            %a{:href => "#"}
              = I18n.t('views.conversations.sentbox.unread')
          %li
            %a{:href => "#"}
              = I18n.t('views.conversations.sentbox.unread')
          %li
            %a{:href => "#"}
              = I18n.t('views.conversations.sentbox.unstarred')
      / Single button
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
          = I18n.t('views.conversations.sentbox.options')
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a.delete-slection{:href => "#"}
              = I18n.t('views.conversations.sentbox.delete_selected')
      %button.btn.btn-default.refresh-button
        %span.glyphicon.glyphicon-refresh
      %span#trashing-elements
        = I18n.t('views.conversations.sentbox.deleting_conversations')
  %hr/
  .row
    .col-sm-3.col-md-2
      /%a.btn.btn-danger.btn-sm.btn-block{:href => "#", :role => "button"} COMPOSE
      =render "sidebar"
    .col-sm-9.col-md-10
      -if @sentbox.count != 0
        #mailbox.conversations-list.tab-pane.in.active
          .list-group
            -@sentbox.each do |conversation|
              =render partial: "conversation",locals: {conversation: conversation}
        =link_to I18n.t('views.conversations.sentbox.see_previous_messages'), "#", id: "conversationPaginate"
        %span#loading-mailbox-ajax
          = I18n.t('views.conversations.sentbox.loading')
      -else
        %h3.mailbox-message
          = I18n.t('views.conversations.sentbox.no_messages')
