.mailbox
  .row
    .col-sm-3.col-md-2
      
    .col-sm-9.col-md-10
      / Split button
      
      .pull-right
        %span.text-muted
  %hr/
  .row
    .col-sm-3.col-md-2
      /%a.btn.btn-danger.btn-sm.btn-block{:href => "#", :role => "button"} COMPOSE
      =render "sidebar"
    .col-sm-9.col-md-10
      #home
        %h1= conversation.subject
        #mailbox.conversations-list.tab-pane.in.active
          .list-group
            -@receipts.each do |receipt|
              =render partial: "message",locals: {message: receipt.message}
        - if !@user.nil?
          = render partial: 'form', locals: {conversation: conversation}
           