.row
  .col-md-12
    .status-form
      = simple_form_for activity, html: { class: 'change_activity_status_form'}, :url => idea_activity_advisor_change_status_path(activity), :method => :put  do |f|
        -if activity.status == 'pending'
          - IdeaActivity.statuses.keys.each do |status|
            -if status != 'pending'  && status != 'finish'
              .row
                = f.radio_button :status, status, :class => 'radio_activity_status'
                = f.label I18n.t("views.idea_artifacts.advisor_artifact_form.status.#{status}")
        -if activity.status == 'start' || activity.status == 'finish'
          - IdeaActivity.statuses.keys.each do |status|
            -if status != 'pending'
              .row
                = f.radio_button :status, status, :class => 'radio_activity_status'
                = f.label I18n.t("views.idea_artifacts.advisor_artifact_form.status.#{status}")
