- comments_paginated.each do |comment|
  .comment{ :id => "comment-#{comment.id}" }
    - if activity.status == 'start' && activity.idea_stage.status == 'start'
      -if comment.user_id == current_emprende_user.id  && comment.user_role == current_emprende_user.class.to_s
        = link_to "×", idea_activity_comment_path(@activity ,comment), :method => :delete, :remote => true, :data => {:confirm => I18n.t('views.idea_activities.comments_paginated.delete_confirmation')}, :disable_with => "×", :class => 'close'
 
    .comment-date
      =best_in_place_if advisor_signed_in? && advisor_is_owner_of(comment), comment, :reported_at, :as => :date,:display_as => :reported_at_formated 
      =#comment.created_at.strftime("%m/%d/%Y")
      /%strong -
      =#comment.created_at.strftime("%I:%M%p") 

    %h4
      =avatar_mini_tag(comment.sender)
      = comment.user_name
      -if comment.user_role == "Advisor"
        .label.label-info
          = I18n.t('views.idea_activities.comments_paginated.label_advisor')
    %p
      = comment.body

    -if advisor_is_owner_of(comment)
      .text-right
        %button.btn.btn-primary{"data-target" => "#reportsModal", "data-toggle" => "modal", "data-whatever" => "#{comment.id}", :type => "button"} Exportar comentario


.row
  = js_will_paginate comments_paginated, param_name: 'comments_page', :params => { :controller => 'comments', :action => 'index' }, class: 'comments-pagination'
