= simple_form_for activity, :url => idea_activity_change_status_path(activity), :method => :put do |f|
  = f.error_notification
  = f.button :submit, I18n.t('views.idea_activities.entrepreneur_status_form.start_activity'),  data: {:confirm=> I18n.t('views.idea_activities.entrepreneur_status_form.start_activity_confirmation')},class: 'btn btn-start-activity'
