- if idea_artifact.id != nil
  .row.idea_artifact{ :id => "idea_artifact_#{idea_artifact.id}" }
    .col-md-6
      .row
        %h4
          = idea_artifact.name
      .row
        %p
          %strong
            = I18n.t('views.idea_activities.idea_artifact_advisor.tags')
          - idea_artifact.tags.each do |tag|
            %span.idea_artifact_status.label.label-primary
              = tag
      .row.attached_files
        = link_to  idea_artifact.url, target: '_blank' , class: 'google_drive_link' do
          = image_tag('drive_icon.png', class: 'artifact_drive_file_icon')
        /- if idea_artifact.support.present?
        /= link_to  idea_artifact.support.url, target: '_blank', class: 'attached_file_link'  do
        /= image_tag('file_icon.png' , class: 'artifact_file_icon')
    .col-md-6
      .row
        = render partial: 'idea_artifacts/advisor_artifact_form', locals: { activity: activity, artifact: idea_artifact}