- if idea_artifact.id != nil
  .row.idea_artifact{ :id => "idea_artifact_#{idea_artifact.id}" }
    .col-md-12
      -if @activity.status == 'start'
        - if idea_artifact.status != 'finish'
          .row
            = link_to 'x', idea_activity_idea_artifact_path(@activity,idea_artifact.id), :method => :delete , remote: true  , :class => 'close artifact_list_delete_button', :data => {:confirm =>  I18n.t('views.idea_activities.idea_artifact.remove_artifact_confirmation') }
        .row
          %h4
            = idea_artifact.name
      .row
        %p
          %strong
            = I18n.t('views.idea_activities.idea_artifact.status')
          %span.idea_artifact_status.label.label-info
            = I18n.t("activerecord.attributes.idea_artifact.artifact_status.#{idea_artifact.status}")
      .row
        %p
          %strong
            = I18n.t('views.idea_activities.idea_artifact.tags')
          - idea_artifact.tags.each do |tag|
            %span.idea_artifact_status.label.label-primary
              = tag
      - if @activity.status == 'start' && @activity.idea_stage.status == 'start'
        - if idea_artifact.status != 'finish'
          .row
            = link_to I18n.t('views.idea_activities.idea_artifact.edit'), edit_idea_activity_idea_artifact_path(@activity,idea_artifact.id) , remote: true , class: 'edit_idea_artifact_button btn btn-primary btn-sm'
      .row.attached_files
        = link_to  idea_artifact.url, target: '_blank' , class: 'google_drive_link' do
          = image_tag('drive_icon.png', class: 'artifact_drive_file_icon')
        /- if idea_artifact.support.present?
        /= link_to  idea_artifact.support.url, target: '_blank', class: 'attached_file_link'  do
        /= image_tag('file_icon.png' , class: 'artifact_file_icon')