%ol.breadcrumb
  / %li
  /   =link_to startup_path(@startup) do
  /     =@startup.name
  %li
    =link_to [@startup,@idea] do
      =@idea.name
  %li.active
    %strong
      = I18n.t('views.idea_activities.entrepreneur_show.activity')
    =link_to idea_activity_show_path @activity do
      =@activity.model.name

%section#ideaProfile.padding-right
  .idea-profile-header.activity-idea
    .row
      .col-md-6
        %h1.idea-name-title
          =@activity.model.name
          .idea-startup-name
            =avatar_mini_idea_tag @idea , "startup-mini-thumb" 
            =link_to [@startup,@idea] do
              =@idea.name
      .col-md-6
        .btn-group.idea_artifact_options{"aria-label" => "...", :role => "group"}
          =link_to [@startup,@idea] ,class: "btn btn-default" do
            .fa.fa.fa-arrow-left
            = I18n.t('views.idea_activities.entrepreneur_show.come_back_to')
            =@idea.name
          .btn-group{:role => "group"}
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              = I18n.t('views.idea_activities.entrepreneur_show.stage_details')
              %span.caret
            %ul.dropdown-menu.stage-description
              .idea-profile-stage{class: "#{@activity.idea_stage.status}"}
                .idea-profile-sidebar-activities
                  %h5
                    = I18n.t('views.idea_activities.entrepreneur_show.stage')
                    =@activity.idea_stage.model.name
                  %ul
                    -@activity.idea_stage.idea_activities.each do |activity|
                      - if @activity.idea_stage.status == 'start' || @activity.idea_stage.status == 'finish'
                        %li{class: "#{'activity-side-active' if activity == @activity}"}
                          = link_to idea_activity_show_path(activity) , class: "activity-link-activated activity-#{activity.status}" do
                            =activity.model.name
                      -else
                        %li
                          %span.activity-link{class: "activity-#{activity.status}"}
                            = activity.model.name
  /----------------  Activity Description -----------------------/
  #activityDescription
    .row
      .col-md-8.col-md-offset-2
        .activity-content.text-center
          #idea-activity-state
            %p.idea-activity-state
              ="#{I18n.t('views.idea_activities.advisor_show.literal_activity')} #{I18n.t("activerecord.attributes.idea_activity.activity_status.#{@activity.status}")}"
            .activity-status-image
              =status_icon(@activity.status)
          #idea-activity-start-date
            #advisorOptions      
              - if @activity.idea_stage.status == 'start'
                .activity-change-status-button-div
                  = render partial: 'advisor_status_form' , locals: { activity: @activity}
            %p
              %strong
                = I18n.t('views.idea_activities.advisor_show.start_date')
              =date_formated(@activity.start_date) ||  I18n.t('views.idea_activities.advisor_show.not_defined')
          #idea-activity-due-date
            %p
              %strong
                = I18n.t('views.idea_activities.advisor_show.due_date')
              =date_formated(@activity.due_date) || I18n.t('views.idea_activities.advisor_show.not_defined')
        .activity-content
          %h3
            = I18n.t('views.idea_activities.advisor_show.description')
          %p
            = @activity.model.description
        -unless @activity.status == "finish"
          #activityRequirements.activity-content
            %h3
              = I18n.t('views.idea_activities.advisor_show.artifacts_required')
            .activity-requirement-artifacts
              -@activity.model.artifact_models.each_with_index do |artifact_model,i|
                .artifact-link-container
                  .artifact-description-name
                    ="#{i+1}. "
                    =artifact_model.name
                  .artifact-description-content
                    =artifact_model.description
                    %br
                    =link_to_if(artifact_model.support.present?, I18n.t('views.idea_activities.advisor_show.see_drive_format'), artifact_model.support.url, target: "_blank")



  /--------------- Activity body ----------------------------/
  #activityBody
    #idea-activity-body
      #activityArtifacts
        %h2
          = I18n.t('views.idea_activities.advisor_show.activity_artifacts')

  -unless @activity.status == "pending"
    #artifacts-list
      =render partial: "idea_artifacts/artifact_list", locals: {artifacts: @activity.idea_artifacts}
    #commentContainer
      .row
        .col-md-8.col-md-offset-2
          #activityComments
            %h4.text-center
              = I18n.t('views.idea_activities.advisor_show.activity')
            -# unless @activity.status == 'finish'
            = render partial: 'comments/comments_form', locals: { comment: @new_comment }
            #activity_comments_paginated
              = render partial: 'comments_paginated', locals: {comments_paginated: @comments_paginated , activity: @activity}
#backtoIdea
  =link_to startup_idea_path(@startup,@idea), class: "btn btn-default" do
    .fa.fa-arrow-left
    ="#{I18n.t('views.idea_activities.advisor_show.come_back')} #{@idea.name}"


#artifact_modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#artifact_modal_label.modal-title
          = I18n.t('views.idea_activities.advisor_show.activity_artifact')
          =avatar_mini_idea_tag @idea , "idea-mini-thumb"
          = @idea.name
      .modal-body
        .container-fluid
          .row
            .col-md-12
              #artifact_form_errors_div
          .row
            .col-md-12
              #entrepreneur_artifact_partial
#artifactDescription.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#artifactDescriptionTitle.modal-title 
      #artifactDescriptionBody.modal-body
        \...
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          = I18n.t('views.idea_activities.advisor_show.close')

#reportsModal.modal.fade{"aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#exampleModalLabel.modal-title Exportar comentario
      .modal-body
        %p Desea exportar este comentario?
        = form_for :report, url: advisor_report_path , html: {id: "reportForm",target: "_blank"}  do |f|
          .form-group
            = f.hidden_field :id
            =# f.hidden_field :type
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              = I18n.t('views.conversations.message_form.cancel')
            = f.submit "Exportar",class: 'btn btn-primary'
      