%section.slice.bg-white
  .wp-section
    .container
      .row
        .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
          .wp-block.default.user-form
            .form-header
              %h2 
                = I18n.t('views.advisors.passwords.new.forgot')
            .form-body
              = simple_form_for(resource, as: resource_name, url: password_path(resource_name),class: 'sky-form', html: { method: :post }) do |f|
                = f.error_notification
                %fieldset
                  %section
                    .form-group
                      = f.input :email, required: true, autofocus: true
                  %section
                    = f.button :submit, I18n.t('views.advisors.passwords.new.send_reset_password_instructions')
            .form-footer
              = render "advisors/shared/links"
       