= simple_form_for (@startup),:url => avatar_startup_path(@startup),html:{id: "startupAvatarForm"} ,:method => :put do |f|
  %fieldset
    %section
      .form-group
        = f.input :avatar , label: "Logo",as: :file, :hint => avatar_startup_tag(f.object,'avatar')
=link_to  I18n.t('views.startups.edit.upload_image'), "#",class: "btn btn-default btn-width", id: "startupAvatarlink"