%h2 
  %i.fa.fa-users
  = I18n.t('views.startups.team.headline')
.team-member-list.text-center
  -startup_entrepreneurs.each do |member|
    =link_to member.entrepreneur  do
      .thumbnail.member 
        =avatar_tag member.entrepreneur , "startup-member-image"
        .text-center
          %p.team-member-name
            =entrepreneur_name_tag(member.entrepreneur) 
          %p.team-member-position
            =member.position || "-"
