.nested-fields.startup_entrepreneur_fields
  #entrepreneur_from_list
    = f.association :entrepreneur, collection: Entrepreneur.all , label_method: :email , value_method: :id,  label: false,  placeholder: I18n.t('views.startups.form.add_entrepreneur')
    = f.input :position 
  = link_to_remove_association I18n.t('views.startups.form.remove_entrepreneur'), f