%div
  %ul.nav.nav-tabs#teamNav{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#currentUsers", :role => "tab"} 
        .fa.fa-group
        = I18n.t('views.startups.team.headline')
    %li{:role => "presentation"}
      %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#inviteUsers", :role => "tab"} 
        .fa.fa-plus
        = I18n.t('views.startups.form.invite')

  / Tab panes
  .tab-content
    #currentUsers.tab-pane.active{:role => "tabpanel"} 
      .team-member-options
        %select#inputEntrepreneurSearch{"data-placeholder"=>"Buscar Emprendedor"}
      %table.table.team-modal-list#teamListModal
        %thead
          %tr
            %th
              = I18n.t('views.startups.form.email')
            %th
              = I18n.t('views.startups.form.position')
            %th
              = I18n.t('views.startups.form.options')
        %tbody
          -startup.startup_entrepreneurs.each_with_index  do |startup_entrepreneur|
            =render partial: "/startup_entrepreneurs/startup_entrepreneur", locals: {startup_entrepreneur: startup_entrepreneur}
    #inviteUsers.tab-pane{:role => "tabpanel"}
      .team-member-options
        =form_tag("/invitations", method: "post",remote: true) do
          =label_tag(:email, I18n.t('views.startups.form.invitation_label'))
          =text_field_tag  "invitation[email]" , "",class: "form-control", type: "email"
          =hidden_field_tag "invitation[startup_id]", @startup.id
          =submit_tag I18n.t('views.startups.form.send_invitation'), class: "btn btn-default btn-width btn-send-invitation"

    #messages.tab-pane{:role => "tabpanel"} ...
    #settings.tab-pane{:role => "tabpanel"} ...

