%section#startupEntrepreneurProfile.padding-right.startup-padding-top
  .fb-profile
    .startup-profile-cover
      .startup-profile-cover-color
      %h2.title-header.startup-header  Startup
      %h1.user-name
        =@startup.name
    .user-profile-cover-div
  %section.user-info
    .row
      .col-sm-3 
        .user-image-profile
          =avatar_startup_tag @startup , "fb-image-user-profile thumbnail"
      .col-sm-5
        .user-info-profile
          %p
            %strong
              = I18n.t('views.startups.show.website')
            =@startup.website
          %p
            %strong
              =I18n.t('views.startups.show.phone')
            =@startup.phone
          %p
            %strong
              Mercado:
            =@startup.industry

      .col-sm-4 
        .user-info-profile
          %p
            %strong
              %span
              = I18n.t('views.startups.show.email')
            =@startup.email
          %p
            %strong
              %span
              = I18n.t('views.startups.show.location')
            - if !@startup.city.nil? && !@startup.country.nil?
              = "#{@startup.country}/#{@startup.city.capitalize}"
          %p
            %a{"data-target" => "#misionModal", "data-toggle" => "modal", :type => "button"}
              = I18n.t('views.startups.show.mission_vision')
  %br
  .row
    .col-md-8.col-md-offset-2.advisor-admin-options.well
      %h3.title-advisor-options
        = I18n.t('views.advisor_startups.show.advisor_options')
    
      = simple_form_for @startup , url: active_update_startup_path(@startup), method: :put  do |f|
        = f.error_notification
        //= f.check_box :is_active, :label => "Is this startup active?", :inline_label => true
        //-if !@startup.is_active?
        = f.input :is_active, as: :boolean, inline_label: I18n.t('views.advisor_startups.show.startup_active_label'), label: false, input_html: {id: 'idea_is_active'}
      
        //-if !@startup.is_active?
        = f.button :submit, I18n.t('buttons.accept'), data: { confirm: I18n.t('views.advisor_startups.show.submit_confirmation') }, class: 'btn btn-primary btn-width'

  #startupTeam.startup-team
    =render partial: "/startups/startup_team",locals: {startup_entrepreneurs: @startup.startup_entrepreneurs}
                  

  .startup-ideas
    %h2
      = I18n.t('views.advisor_startups.show.ideas')
    %h3
      %i.fa.fa-star-half-o
      ="#{I18n.t('views.advisor_startups.show.waiting_verification')} (#{@unactive_ideas.count})"
    %ul.unactive-ideas#unactiveIdeasList
      -@unactive_ideas.each do |idea|
        =render partial: "advisors/unactive_idea", locals: {idea: idea}
    %br
    %h3
      %i.fa.fa-star
      ="#{I18n.t('views.advisor_startups.show.active_ideas')} (#{@active_ideas.count})"
    %section.entrepreneur-ideas-profile
      %row.row
        -@active_ideas.each do |idea|
          =render partial: "ideas/active_idea", locals: {idea: idea}
#misionModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.advisor_startups.show.mission_vision')
      .modal-body
        %p
          %strong
            = I18n.t('views.advisor_startups.show.mission')
          =@startup.mission
        %p
          %strong
            = I18n.t('views.advisor_startups.show.vision')
          =@startup.vision
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          = I18n.t('views.advisor_startups.show.come_back')

