%section#avisorStartupIndex
  .row
    .col-md-12
      %h2
        = I18n.t('views.advisor_startups.index.headline')
  .row
    .col-md-12
      %table.table.table-striped.table-ideas
        %tr
          %th
            = I18n.t('views.advisor_startups.index.startup.name')
          %th
            = I18n.t('views.advisor_startups.index.startup.phone')
          %th
            = I18n.t('views.advisor_startups.index.startup.website')
          %th
            = I18n.t('views.advisor_startups.index.startup.status')
        - @startups.each do |startup|
          %tr{"data-link" => "#{startup_path(startup)}"}
            %td
              = startup.name
            %td
              = startup.phone
            %td
              = startup.website
            %td
              -if startup.is_active?
                = I18n.t('views.advisor_startups.index.active_startup')
              -else
                = I18n.t('views.advisor_startups.inactive.inactive')