$("#avatarForm").html("<%= j render('avatar_form') %> ");

//************ Reload avtar form scripts **************
$("#startupAvatarForm").fileupload({
  dataType: "script",
  progress: function(e, data) {
    var progress;
    if (data.context) {
      progress = parseInt(data.loaded / data.total * 100, 10);
      return data.context.find('.bar').css('width', progress + '%');
    }
  }
});
$("#startupAvatarlink").on("click", function(e) {
  e.preventDefault();
  return $("#startup_avatar").click();
});
$("#startup_avatar").hide();