.startup-new-background
.background-black-hover
%ol.breadcrumb
  %li
    =link_to startup_path(@startup) do
      =@startup.name
  %li.active
    = I18n.t('views.startups.edit.headline')

%section
  .wp-section
    .row
      .col-md-12
        .wp-block.default.user-form
          .form-header
            %h2
              = I18n.t('views.startups.edit.headline')
          .form-body
            #avatarForm
              =render "avatar_form"

            = simple_form_for @startup do |f|
              = f.error_notification
              .row
                .col-md-6
                  = f.input :name
                  = f.input :phone
                  = f.input :email
                  = f.input :website, hint: I18n.t('views.startups.edit.website_hint')
                  = f.input :mission
                  = f.input :vision

                .col-md-6
                  = f.input :linkedin
                  = f.input :facebook
                  = f.input :twitter
                  = f.input :country, priority: ["CO", "VE", "EC", "US"]
                  = f.input :city
                  = f.input :industry
              %br
              %br
              .center-align
                = f.button :submit, I18n.t('views.startups.edit.save_changes'), class: "btn btn-primary btn-width"
