%section#startupEntrepreneurProfile.padding-right.startup-padding-top
  .fb-profile
    .startup-profile-cover
      .startup-profile-cover-color
      %h2.title-header.startup-header Startup
      %h1.user-name
        =@startup.name
    .user-profile-cover-div
  %section.user-info
    .row
      .col-sm-3 
        .user-image-profile
          =avatar_startup_tag @startup , "fb-image-user-profile thumbnail"
        .text-center
          - if can? :admin , @startup
            =link_to edit_startup_path(@startup), class: "btn btn-primary btn-width" do
              .fa.fa-edit
              Editar info
      .col-sm-5
        .user-info-profile
          %p
            %strong
              = I18n.t('views.startups.show.website')
            =@startup.website
          %p
            %strong
              =I18n.t('views.startups.show.phone')
            =@startup.phone
          %p
            %strong
              Mercado:
            =@startup.industry

      .col-sm-4 
        .user-info-profile
          %p
            %strong
              %span
              = I18n.t('views.startups.show.email')
            =@startup.email
          %p
            %strong
              %span
              = I18n.t('views.startups.show.location')
            - if !@startup.city.nil? && !@startup.country.nil?
              = "#{@startup.country}/#{@startup.city.capitalize}"
          %p
            %a{"data-target" => "#misionModal", "data-toggle" => "modal", :type => "button"}
              = I18n.t('views.startups.show.mission_vision')

  #startupTeam.startup-team
    =render partial: "/startups/startup_team",locals: {startup_entrepreneurs: @startup.startup_entrepreneurs}
              
  .startup-ideas
    %h2
      = I18n.t('views.startups.show.ideas')
    - if can? :admin , @startup
      %h3
        %i.fa.fa-star-half-o
        ="#{I18n.t('views.startups.show.waiting_verification')} (#{@unactive_ideas.count})"
      %ul.unactive-ideas#unactiveIdeasList
        -@unactive_ideas.each do |idea|
          =render partial: "ideas/registration/unactive_idea", locals: {idea: idea}
      %br
    %h3
      %i.fa.fa-star
      ="#{I18n.t('views.startups.show.active_ideas')} (#{@active_ideas.count})"
    %section.entrepreneur-ideas-profile
      %row.row
        -@active_ideas.each do |idea|
          =render partial: "ideas/active_idea", locals: {idea: idea}

#misionModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.startups.show.mission_vision')
      .modal-body
        %p
          %strong
            = I18n.t('views.startups.show.mission')
          =@startup.mission
        %p
          %strong
            = I18n.t('views.startups.show.vision')
          =@startup.vision
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
          = I18n.t('views.startups.show.come_back')

- if can? :admin , @startup
  .area
  %nav.main-menu
    %ul
      %li.has-subnav
        %a.btn-register-idea{"data-target" => "#editStartupTeam", "data-toggle" => "modal", :type => "button"}
          %i.fa.fa-users.fa-2x
          %span.nav-text
            = I18n.t('views.startups.show.manage_team')
      %li.has-subnav
        %a.btn-register-idea{"data-target" => "#newStartupIdea", "data-toggle" => "modal", :type => "button"}
          %i.fa.fa-star-half-o.fa-2x
          %span.nav-text
            = I18n.t('views.startups.show.register_new_idea')
/ Modal
#newStartupIdea.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.startups.show.new_idea')
          =avatar_mini_startup_tag @startup , "startup-mini-thumb" 
          =@startup.name
      .modal-body
        =render partial: "ideas/registration/new_idea_registration_form", locals: {idea: @idea}

#editStartupIdea.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = I18n.t('views.startups.show.edit_idea')
      .modal-body
        #editIdeaContainer

#editStartupTeam.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          = "#{I18n.t('views.startups.show.edit_idea')} -"
          =avatar_mini_startup_tag @startup , "startup-mini-thumb" 
          =@startup.name
      .modal-body
        =render partial: "startups/team", locals: {startup: @startup}