.startup-new-background
.background-black-hover
%section.slice.bg-white
  .wp-section
    .row
      .col-md-8.col-md-offset-2
        .wp-block.default.user-form
          .form-header
            %h2
              = I18n.t('views.startups.new.headline')
          .form-body
            = simple_form_for @startup  do |f|
              = f.error_notification
              = f.input :name
              = f.input :phone
              = f.input :email
              = f.input :website, hint: 'http://www.tuemprendimiento.com'
              = f.input :linkedin
              = f.input :facebook
              = f.input :twitter
              = f.input :country, priority: ["CO", "VE", "EC", "US"]
              = f.input :city
              .center-align
                = f.button :submit, I18n.t('views.startups.new.create_startup'), class: "btn-width"