<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" />
  <title>Emprende CreaTIC</title>
  <style>
    @media screen and (max-width: 800px){
    .width-full{
      width: 100% !important;
    }}

    @media screen and (min-width: 321px) and (max-width: 375px) {
     .email-title{
       font-size: 42px !important; ;
       line-height: 42px !important; ;
     }
    }
  </style>
</head>

<body style="margin: 0; padding: 0;">
<table style="
  background-color: #eee;
  ">
  <tr>
    <td>
      <table class="width-full" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="
        text-align: center;">
        <tr>
          <td class="email-title" style="
            color: #3a539b;
            font-size: 74px;
            line-height: 74px;
            padding: 5px 0 10px 0;
            margin: 0;
            font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';
          ">Emprende CreaTIC</td>
        </tr>
        <tr>
          <td style="
            padding: 5px 0 10px 0;
            margin: 0;
            font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';
          ">
            <p style="
              font-size: 20px;
              line-height: 20px;
              font-weight: bold;
            ">
              <%= I18n.t('advisor.mailer.welcome.introduce')%></p>
            <p><%= I18n.t('advisor.mailer.welcome.introduce_registration')%>.</p>
          </td>
        </tr>
        <tr>
          <td style="
            padding: 5px 0 10px 0;
            align: center;
            margin: 0;
            font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';
          ">
            <p style="
              margin: auto;
            ">
              <!-- Internacionalization-->
              <%=link_to I18n.t('advisor.mailer.welcome.log_in') , @url,  {:style=>"
                color: #FFF;
                background-color: #3a539b;
                border: 2px solid #000000;
                border-radius: 6px;
                display: block;
                font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';
                font-size: 20px;
                font-weight: bold;
                line-height: 250%;
                text-decoration: none;
                width: 260px;
                text-align: center;
                margin: auto;
              "}%>
            </p>
          </td>
        </tr>
        <tr>
          <td style="
            padding: 5px 0 10px 0;
            align: center;
            margin: 0;
            font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';"
          >
            <p> <%= I18n.t('advisor.mailer.welcome.questions')%> </p>
            <p><%= I18n.t('advisor.mailer.welcome.farewell')%></p>
          </td>
        </tr>
        <tr>
          <td align="center" style="
            padding: 5px 0 10px 0;
            margin: 0;
            font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';">
            <p> Emprende CreaTIC</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

