<%= "#{I18n.t('mailboxer.message_mailer.new_message_email.title')} #{@subject}" %>

-----------------------------------------------
<%= @message.body.html_safe? ? @message.body : strip_tags(@message.body) %>
-----------------------------------------------

<%="#{I18n.t('mailboxer.visit')}"%> <%= root_url %> <%="#{I18n.t('mailboxer.get_info')}"%>