<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width" />
  <title>Emprende CreaTIC</title>
  <style>
    @media screen and (max-width: 800px){
      .width-full{
        width: 100% !important;
      }}

    @media screen and (min-width: 321px) and (max-width: 375px) {
      .email-title{
        font-size: 42px !important; ;
        line-height: 42px !important; ;
      }
    }
  </style>
</head>

<body style="margin: 0; padding: 0;">
<table style="
background-color: #eee;
">
  <tr>
    <td>
      <table class="width-full" align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="
      text-align: center;">
        <tr>
          <td class="email-title" style="
          color: #3a539b;
              font-size: 74px;
              line-height: 74px;
              padding: 5px 0 10px 0;
              margin: 0;
              font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';
          ">Emprende CreaTIC</td>
        </tr>
        <tr>
          <td style="
          padding: 5px 0 10px 0;
              margin: 0;
              font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';
          ">
            <p style="
            font-size: 20px;
                line-height: 20px;
                font-weight: bold;
            "> <%= "#{I18n.t('mailboxer.message_mailer.new_message_email.title')} #{@subject}" %></p>
          </td>
        </tr>
        <tr>
          <td style="
          padding: 5px 0 10px 0;
              align: center;
              margin: 0;
              font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';"
          >
            <p><%= raw @message.body %></p>
            <p><%="#{I18n.t('mailboxer.visit')}"%> <%= link_to root_url, root_url %> <%="#{I18n.t('mailboxer.get_info')}"%></p>
          </td>
        </tr>
        <tr>
          <td align="center" style="
          padding: 5px 0 10px 0;
              margin: 0;
              font-family: 'Helvetica Neue', 'Helvetica', 'Helvetica', 'Arial', 'sans-serif';">
            <p> Emprende CreaTIC</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>