%tr.team-modal-member{id: "startupEntrepreneur#{startup_entrepreneur.id}"}
  %td 
    =startup_entrepreneur.entrepreneur.email
  %td
    = best_in_place startup_entrepreneur, :position, :path => [@startup,startup_entrepreneur], type: :input
  %td 
    = link_to I18n.t('views.startup_entrepreneurs.startup_entrepreneur.delete'), [@startup,startup_entrepreneur], method: :delete,  data: { confirm: I18n.t('views.startup_entrepreneurs.startup_entrepreneur.confirmation') },remote: true