$("#teamListModal tbody").append("<%= j render partial: '/startup_entrepreneurs/startup_entrepreneur', locals: {startup_entrepreneur: @startup_entrepreneur}
    %>");
var id = "#startupEntrepreneur<%=@startup_entrepreneur.id%>"
$(id).effect("highlight", {color: "#4b77be"}, 3000);
jQuery(".best_in_place").best_in_place();