
-if artifact.id
  .artifact-container.panel.panel-default
    .ribbon{class: "#{artifact_ribbon_tag(artifact)}"}
      .span
        =I18n.t "activerecord.attributes.idea_artifact.artifact_status.#{artifact.status}"
    .artifact-name.panel-heading
      %span
        =artifact.name
      .artifact-options

    .artifact-body
      =link_to artifact.url , target: "blank" do
        =image_tag "drive_icon.png", class: "artifact-drive"
        %p
          Ver en drive
    .artifact-footer.advisor
      -if artifact.status == "corrections"
        =link_to I18n.t('views.idea_artifacts.advisor_artifact.pending_adjustments'), set_artifact_as_corrected_path(idea_activity_id: artifact.idea_activity.id,artifact_id: artifact.id),class: "edit_idea_artifact_button btn btn-artifact-status-#{artifact.status}", method: :put, remote: true, :data => {:confirm => I18n.t('views.idea_artifacts.advisor_artifact.pending_adjustments_confirmation')}
      -unless artifact.status == "finish"
        =link_to I18n.t('views.idea_artifacts.advisor_artifact.finish_deliverable'), set_artifact_as_finished_path(idea_activity_id: artifact.idea_activity.id,artifact_id: artifact.id),class: "edit_idea_artifact_button btn btn-artifact-status-#{artifact.status}", method: :put, remote: true, :data => {:confirm => I18n.t('views.idea_artifacts.advisor_artifact.finish_deliverable_confirmation')}
      -else
        %p.wating-message
          = I18n.t('views.idea_artifacts.advisor_artifact.finished_deliverable')
      