= simple_form_for artifact, html: { class: 'change_artifact_status_form'}, :url => idea_activity_idea_artifact_change_status_path(activity, artifact), :method => :put , remote: true  do |f|
  - if artifact.status == 'pending'
    - IdeaArtifact.statuses.keys.each do |status|
      - if status == 'start'
        .row
          = f.radio_button :status, status, :class => 'radio_artifact_status'
          = f.label I18n.t("activerecord.attributes.idea_artifact.artifact_status.#{status}")
  - if artifact.status == 'start'
    - IdeaArtifact.statuses.keys.each do |status|
      - if status != 'pending'
        .row
          = f.radio_button :status, status, :class => 'radio_artifact_status'
          = f.label I18n.t("activerecord.attributes.idea_artifact.artifact_status.#{status}")
  - if artifact.status == 'corrections' || artifact.status == 'corrected' || artifact.status == 'finish'
    - IdeaArtifact.statuses.keys.each do |status|
      - if status != 'start' && status != 'pending'
        .row
          = f.radio_button :status, status, :class => 'radio_artifact_status'
          = f.label I18n.t("activerecord.attributes.idea_artifact.artifact_status.#{status}")
