-if entrepreneur_signed_in?
  =render partial: "idea_artifacts/entrepreneur_artifact",locals:{artifact: artifact}
-else
  =render partial: "idea_artifacts/advisor_artifact",locals:{artifact: artifact}
