= simple_form_for [activity, artifact], html: { class: 'entrepreneur_deliverable_form'}, :remote => true do |f|
  = f.error_notification
  = f.input :artifact_model_id , collection: activity.model.artifact_models,  selected: activity.model.artifact_models.first , input_html: { class: 'artifact_model_select_button_entrepreneur'}
  //.artifact_model_file
  = f.input :name
  / %label
  /   Lista de tags
  / %ul#artifactTags
  = f.input :tag_list, as: :hidden, input_html:{id: 'artifact_tag_list_field'}
  %label
    = I18n.t('views.idea_artifacts.entrepreneur_artifact_form.link_drive_folder')
  = link_to  '#', id: 'link_drive_file' , class: 'google_drive_link_file' do
    = image_tag('drive_icon.png', class: 'artifact_drive_file_icon')
  = f.input :url, input_html:{ id: 'url_drive_file_field'}
  #artifact-drive-picker-div
  /= f.input :support, :hint => link_to_if( f.object.support.present?, "#{File.basename(f.object.support.to_s)}" , f.object.support.url), as: :file
  .modal-footer
    = f.button :submit, "Guardar" , class: 'btn btn-success', id: 'entrepreneur_artifact_activity_button'