
-if artifact.id
  .artifact-container.panel.panel-default
    .ribbon{class: "#{artifact_ribbon_tag(artifact)}"}
      .span
        =I18n.t "activerecord.attributes.idea_artifact.artifact_status.#{artifact.status}"
    .artifact-name.panel-heading
      %span
        =artifact.name
      .artifact-options
        - if artifact.status != 'finish'
          = link_to idea_activity_idea_artifact_path(@activity,artifact.id), :method => :delete , remote: true  , :data => {:confirm => I18n.t('views.idea_artifacts.entrepreneur_artifact.delete_artifact_confirmation') },"data-toggle"=>"tooltip" ,"data-placement"=>"top", "title"=> I18n.t('views.idea_artifacts.entrepreneur_artifact.delete_artifact') do
            .fa.fa-trash
        - if @activity.status == 'start' && @activity.idea_stage.status == 'start'
          - if artifact.status != 'finish'
            = link_to edit_idea_activity_idea_artifact_path(@activity,artifact.id) , remote: true , class: '' ,"data-toggle"=>"tooltip" ,"data-placement"=>"top", "title"=> I18n.t('views.idea_artifacts.entrepreneur_artifact.edit_artifact')  do
              .fa.fa-edit
        
    .artifact-body
      =link_to artifact.url , target: "blank" do
        =image_tag "drive_icon.png", class: "artifact-drive"
        %p
          = I18n.t('views.idea_artifacts.entrepreneur_artifact.watch_in_drive')
    .artifact-footer
      -if artifact.status == "corrections"
        %p.wating-message
          = I18n.t('views.idea_artifacts.entrepreneur_artifact.waiting_for_corrections')
      -elsif artifact.status == "finish"
        %p.wating-message
          = I18n.t('views.idea_artifacts.entrepreneur_artifact.finished_artifact')
      -else artifact.status == "corrected"
        =link_to I18n.t('views.idea_artifacts.entrepreneur_artifact.request_revision'), set_artifact_as_corrections_path(idea_activity_id: artifact.idea_activity.id,artifact_id: artifact.id),class: "edit_idea_artifact_button btn btn-artifact-status-#{artifact.status}", method: :put, remote: true, :data => {:confirm => I18n.t('views.idea_artifacts.entrepreneur_artifact.request_revision_confirmation')}
        
      