// update the div with the information
var child = $('#activity_artifacts_paginated').children('#idea_artifact_<%=@idea_artifact.id%>');
// replace the div with the new information
child.replaceWith("<%= j render(partial: 'idea_activities/idea_artifact_advisor', locals: { activity: @activity, idea_artifact: @idea_artifact}) %>");

// this method allow advisors to change an artifact status
$(".radio_artifact_status").on('change', function() {
  var form;
  form = $(this).closest('form');
  form.submit();
});
// alert
$("#activityAlerts").append("<div class='alert'>Artefacto actualizado con exito</div>");
$(".alert").delay(2000).fadeOut(1000);