// clear all
$('.artifact_model_file').empty();
//  hide the container of the form
$('#artifact_modal').modal('toggle');
// add a new artifact on the list
$('#artifacts-list').html('').append("<%= j render(partial: 'idea_artifacts/artifact_list', locals: { artifacts: @artifacts}) %>");