$("#activity_artifacts_paginated #idea_artifact_<%=@idea_artifact.id%>").hide('slow', function(){
  $(target).remove();
});
// introduce a delay after delete a new comment
setTimeout(function(){
  $('#artifacts-list').html("<%= j render(partial: 'idea_artifacts/artifact_list', locals: {artifacts: @artifacts}) %>");
}, 1000);