$('#entrepreneur_artifact_partial').html('').html("<%= j render(partial: 'entrepreneur_artifact_form', locals: { artifact: @idea_artifact, activity: @activity}) %>");
$('#artifact_modal').modal('show');