// update the div with the information
var child = $('#artifactItem<%=@idea_artifact.id%>');

// replace the div with the new information
child.html("<%= j render(partial: 'idea_artifacts/artifact', locals: { artifact: @idea_artifact}) %>");