.idea_achievement{:id => "idea_achievement_#{idea_achievement.id}", "data-description"=>"#{idea_achievement.achievement_model.description}","data-name"=>"#{idea_achievement.achievement_model.name}"}
  = image_tag(idea_achievement.achievement_model.image_url(:thumb), class: "img-responsive achivement-thumb")
  