.idea_achievement{:id => "idea_achievement_#{idea_achievement.id}", "data-description"=>"#{idea_achievement.achievement_model.description}","data-name"=>"#{idea_achievement.achievement_model.name}"}
  .delete-achievement
    = link_to 'x', delete_achievement_startup_idea_path(startup,idea,idea_achievement.id), :method => :delete , remote: true  , :class => 'close achievement_delete_button', :data => {:confirm => I18n.t('views.idea_achievements.idea_achievement.confirmation')}
  = image_tag(idea_achievement.achievement_model.image_url(:thumb), class: "img-responsive achivement-thumb")

