= simple_form_for idea_achievement, url: create_achievement_startup_idea_path(startup,idea) , html: { class: 'idea_achievement_form'}, :remote => true do |f|
  = f.error_notification
  = f.input :achievement_model_id , collection: achievement_model ,  selected: achievement_model.first, input_html: { class: 'idea_achievement_select_button'}
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
      = I18n.t('views.idea_achievements.idea_achievement_form.close')
    = f.button :submit, I18n.t('views.idea_achievements.idea_achievement_form.save') , class: 'btn btn-success', id: 'generate_idea_achievement_button'