// clear error div
$('#idea_achievement_form_errors').html('');
//  hide the container of the form
$('#achievementIdeaModal').modal('toggle');
// add a new artifact on the list
$('#idea-achievements-list').append("<%= j render(partial: 'idea_achievements/idea_achievement', locals: { startup: @startup, idea: @idea, idea_achievement: @idea_achievement }) %>");