$("#customAlerts").html("<div class='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><%= escape_javascript flash[:notice]%></div>");
$(".alert").delay(5000).fadeOut();
$("#teamListModal tbody").append("<%= j render partial: '/startup_entrepreneurs/startup_entrepreneur', locals: {startup_entrepreneur: @startup_entrepreneur}%>");
var id = "#startupEntrepreneur<%=@startup_entrepreneur.id%>";
$(id).effect("highlight", {color: "#4b77be"}, 3000);
$('#teamNav a:first').tab('show');
jQuery(".best_in_place").best_in_place();