%section.padding-body
  .container
    .row
      .col-md-12
        %h2
          = I18n.t('views.advisor_ideas.index.headline')
    .row
      .col-md-12
        %ul
          - @startups.each do |startup|
            %li
              %br
              %div
                %strong
                  %span
                    = I18n.t('views.advisor_ideas.index.startup_name')
                  = link_to startup.name, startup_path(startup) #{:action => 'show', :idea_id => startup.idea.id}
                %p
                  %span
                    = I18n.t('views.advisor_ideas.index.email')
                  = mail_to startup.email
                -if startup.website
                  %p
                    %span
                      = I18n.t('views.advisor_ideas.index.website')
                    = link_to startup.website, startup.website
                %div
                  %table.table.table-striped
                    %tr
                      %th
                        = I18n.t('views.advisor_ideas.index.idea_name')
                      %th
                        = I18n.t('views.advisor_ideas.index.idea_description')
                      %th
                        = I18n.t('views.advisor_ideas.index.idea_description')
                      %th
                        = I18n.t('views.advisor_ideas.index.idea_status')
                    - startup.ideas.each do |idea|
                      %tr
                        %td
                          = idea.name
                        %td
                          = idea.description
                        %td
                          = idea.problem_definition
                        %td
                          = simple_form_for idea , url: startup_advisor_idea_path(startup,idea), method: :put  do |f|
                            = f.error_notification
                            = f.input :is_active, as: :boolean