%section
  .container
    .row
      .col-md-12
        %h2
          = I18n.t('views.advisor_ideas.show.headline') + @idea.name
          - if !@idea.is_active?
            %span.label.label-default
              = I18n.t('views.advisor_ideas.show.idea_pending')
    .row
      .col-md-12
        - if @idea.advisor_id?
          %span.text-small
            = I18n.t('views.advisor_ideas.show.approved_by')
          %span.label.label-default
            = @idea.advisor.first_name + " " + @idea.advisor.last_name
    %br
    .row
      .col-md-12
        %p
          %strong
            = I18n.t('activerecord.attributes.idea.description')
          = @idea.description
        %p
          %strong
            = I18n.t('activerecord.attributes.idea.problem_definition')
          = @idea.problem_definition
    .row
      .col-md-12
        %div
          //= simple_form_for @startup, url: change_startup_status_advisor_path, html: { method: :post } do |f|
          = simple_form_for @idea , url: startup_advisor_idea_path(@startup,@idea), method: :put  do |f|
            = f.error_notification
            //= f.check_box :is_active, :label => "Is this startup active?", :inline_label => true
            -if !@idea.is_active?
              = f.input :is_active, as: :boolean, inline_label: I18n.t('views.advisor_ideas.show.startup_active_label'), label: false, input_html: {id: 'idea_is_active'}
            .center-align
              -if !@idea.is_active?
                = f.button :submit, I18n.t('buttons.accept'), data: { confirm: I18n.t('views.advisor_ideas.show.submit_confirmation') }, class: 'btn btn-info'
              = link_to I18n.t('buttons.back'), advisor_startup_path(@startup), class: 'btn btn-default'


