%p.calificationCount
  %span#spanStartupsAnswered
    = startupsAnswered
  ="de #{startups.count} emprendimientos calificados"

-startups.each do |startup|

  .wrapCountCalifications

  .containerStartup{:id => "wrapperStartup#{startup.id}"}
    %h2.startupName.center
      =link_to startup_path(startup.id), {:target => "_blank"} do
        =startup.name
    -questions.each do |question|
      .questionCalificationGroup{class: get_message_answer(startup)['hidden']}
        .groupNameAndStars
          .questionName
            = question.name

          %form.ratingCompany{id: "ratingQuestion#{startup.id}#{question.id}"}

            %input.star-input{:type => "checkbox", checked: get_value_answer(startup, question,1), :id => "star1#{startup.id}#{question.id}", "data-question" => "#{question.id}", "data-answer" => "1",  "data-startup" => "#{startup.id}"}/
            %label.star-input-label{:for => "star1#{startup.id}#{question.id}"}
              %i.fa.fa-star
              %i.fa.fa-star.orangeStar

            %input.star-input{:type => "checkbox", checked: get_value_answer(startup, question,2), :id => "star2#{startup.id}#{question.id}", "data-question" => "#{question.id}", "data-answer" => "2",  "data-startup" => "#{startup.id}"}/
            %label.star-input-label{:for => "star2#{startup.id}#{question.id}"}
              %i.fa.fa-star
              %i.fa.fa-star.orangeStar

            %input.star-input{:type => "checkbox", checked: get_value_answer(startup, question,3), :id => "star3#{startup.id}#{question.id}", "data-question" => "#{question.id}", "data-answer" => "3",  "data-startup" => "#{startup.id}"}/
            %label.star-input-label{:for => "star3#{startup.id}#{question.id}"}
              %i.fa.fa-star
              %i.fa.fa-star.orangeStar

            %input.star-input{:type => "checkbox", checked: get_value_answer(startup, question,4), :id => "star4#{startup.id}#{question.id}", "data-question" => "#{question.id}", "data-answer" => "4",  "data-startup" => "#{startup.id}"}/
            %label.star-input-label{:for => "star4#{startup.id}#{question.id}"}
              %i.fa.fa-star
              %i.fa.fa-star.orangeStar

            %input.star-input{:type => "checkbox", checked: get_value_answer(startup, question,5), :id => "star5#{startup.id}#{question.id}", "data-question" => "#{question.id}", "data-answer" => "5",  "data-startup" => "#{startup.id}"}/
            %label.star-input-label{:for => "star5#{startup.id}#{question.id}"}
              %i.fa.fa-star
              %i.fa.fa-star.orangeStar

    .btnStartupUnknown
      %button.buttonStartupUnknown{:type => "button", :id => "buttonStartupUnknown#{startup.id}", "data-startup" => "#{startup.id}", class: get_message_answer(startup)['status'], disabled: get_message_answer(startup)['disabled']}
        = get_message_answer(startup)['msg']



.row.centerPaginate
  =js_will_paginate startups