%section#surveynew
  .row
    .col-md-12
      %h2 Encuesta
  .row
    .col-md-10
      %span A continuacion podra evaluar a los emprendimientos registrados en la plataforma
      %strong Emprende CreaTIC,
      %span se evaluaran los siguientes criterios:
    .col-md-2
      =link_to show_survey_path, remote: true, id: 'start_new_survey', class: 'btn btn-width btn-default' do
        Iniciar encuesta
  .row
    .col-md-12
      - @questions.each do |question|
        %strong 
          = question.name
        %span
          = question.description
        %br/
%section#startup_survey.scrollStyle1

