
$("#startup_survey").html("<%= j render partial: 'show_startup',locals: {startups: @startups,questions: @questions, answers: @answers,startupsAnswered: @startupsAnswered} %>");
$('#start_new_survey').fadeOut()
$('html,body').animate({
    scrollTop: $(window).scrollTop() + 300
});

$('#startup_survey').scrollTop(0);

$('.star-input').click(function () {

    $(this).parent()[0].reset();
    var prevStars = $(this).prevAll();
    var nextStars = $(this).nextAll();
    prevStars.attr('checked', true);
    nextStars.attr('checked', false);
    $(this).attr('checked', true);

    var startup = $(this).data('startup')
    var question = $(this).data('question')
    var answer = $(this).data('answer')

    startupButton = $('#buttonStartupUnknown'+startup)
    if (startupButton.hasClass('visible') || startupButton.hasClass('unknow')){
        startupButton.remove()
    }
    $.ajax({
        url: 'qualifyStartup',
        method: 'POST',
        data: {
            startup: startup,
            question: question,
            answer: answer,
            typeSave: 1
        },
        success: function(data){
            var actualAnswered = parseInt($('#spanStartupsAnswered').html());
            if (parseInt(data.startupsAnswered) !== actualAnswered){
                $('#spanStartupsAnswered').css('font-weight', "bold")
                $('#spanStartupsAnswered').html(data.startupsAnswered)

                setTimeout(function () {
                    $('#spanStartupsAnswered').css('font-weight', "normal")
                }, 1500);
            }

        }

    })
//    var spanStartupsAnswered = parseInt($('#spanStartupsAnswered').html())
//    $('#spanStartupsAnswered').html(spanStartupsAnswered + 1)

    $('body').removeClass('loading');
    $('.ajax-modal').remove()
});

$('.buttonStartupUnknown').click(function () {
    var startup = $(this).data('startup')
    if ($(this).hasClass('unknow')) {

        $('#wrapperStartup' + startup + ' .questionCalificationGroup').removeClass('hidden')
        $(this).html('No la conozco').removeClass('unknow').addClass('visible')
    } else if($(this).hasClass('visible')) {
        $('#wrapperStartup' + startup + ' .questionCalificationGroup').addClass('hidden')
        $(this).html('La conozco').removeClass('visible').addClass('unknow')
    }

    $.ajax({
        url: 'qualifyStartup',
        method: 'POST',
        data: {
            startup: startup,
            typeSave: 2
        }

    })
    $('body').removeClass('loading');
    $('.ajax-modal').remove()
});


$('.star-input-label').on('mouseover', function () {
    var prevStars = $(this).prevAll();
    prevStars.addClass('hovered');
});
$('.star-input-label').on('mouseout', function () {
    var prevStars = $(this).prevAll();
    prevStars.removeClass('hovered');
})