# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

formatRepo = (repo) ->
  if repo.loading
    return repo.text
  markup = '<div class=\'select2-result-repository clearfix\'>' + '<div class=\'select2-result-repository__avatar\'><img src=\'' + repo.owner.avatar_url + '\' /></div>' + '<div class=\'select2-result-repository__meta\'>' + '<div class=\'select2-result-repository__title\'>' + repo.full_name + '</div>'
  #if repo.description
  #  markup += '<div class=\'select2-result-repository__description\'>' + repo.description + '</div>'
  markup += '<div class=\'select2-result-repository__statistics\'>' + '<div class=\'select2-result-repository__forks\'><i class=\'fa fa-briefcase\'></i> ' + repo.profession + '</div>' + '</div>' + '</div></div>'
  markup

formatRepoSelection = (repo) ->
  repo.full_name or repo.text


$(document).ready ->
  $(".unactive-collapse").first().collapse('toggle')
  jQuery(".best_in_place").best_in_place()
  $('#inputEntrepreneurSearch').select2
    ajax:
      url: '/search_entrepreneurs'
      dataType: 'json'
      delay: 250
      placeholder: "Select a customer"
      allowClear: true
      initSelection: (element, callback)->                 
      
      data: (params) ->
        {
          q: params.term
          page: params.page
        }
      processResults: (data, params) ->
        # parse the results into the format expected by Select2
        # since we are using custom formatting functions we do not need to
        # alter the remote JSON data, except to indicate that infinite
        # scrolling can be used

        results_formated = $.map data, (obj) ->
          name = obj._source.first_name + " " + obj._source.last_name
          #console.log obj._source.avatar.mini_thumb.url || 
          avatar_url = obj._source.avatar.thumb.url || "<%=asset_path('default-user.png')%>"
          profession = obj._source.profession || ""
          {
            id: obj._source.id
            text: name
            profession: profession
            full_name: name
            owner:
              avatar_url: avatar_url
          }

        params.page = params.page or 1
        {
          results: results_formated
          pagination: more: params.page * 30 < data.total_count
        }
      cache: true
    escapeMarkup: (markup) ->
      markup
    minimumInputLength: 1
    templateResult: formatRepo
    templateSelection: formatRepoSelection

  $('#inputEntrepreneurSearch').on 'change', (e)->
    entrepreneur = $(this).select2('data')
    startup_id = window.location.pathname.split("/").pop()
    $.ajax({
      type: "POST",
      url: "/startups/"+ startup_id+"/startup_entrepreneurs",
      data: { startup_entrepreneur: { entrepreneur_id: entrepreneur[0].id} },
      success:(data) ->
        #alert data.id
        $("#inputEntrepreneurSearch").select2("data", null)
        $("#inputEntrepreneurSearch").select2("val", "Buscar emprendedor");
        $("#inputEntrepreneurSearch").select2("close");
        return false
      error:(data) ->
        return false
    })



  $('#editStartupTeam').on 'hidden.bs.modal', ()->
    startup_id = window.location.pathname.split("/").pop()
    $.ajax({
      type: "GET",
      dataType: 'script'
      url: "/startups/"+ startup_id+"/startup_entrepreneurs",
      success:(data) ->
        #alert data.id
        return false
      error:(data) ->
        return false
    })  


