%section.padding-body
  .container
    .row
      .col-md-12
        %h2
          = I18n.t('views.advisors.unlocks.new.resend_unlock_instructions')
    .row
      .col-md-12
        = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          = f.full_error :unlock_token
          .form-inputs
            = f.input :email, required: true, autofocus: true
          .form-actions
            = f.button :submit, I18n.t('buttons.resend_unlock_instructions')
    = render "advisors/shared/links"
