= form_tag(create_pivot_startup_idea_path(startup,idea), method: :post, class: 'idea_pivot_form') do
  = label_tag I18n.t('views.idea_pivots.idea_pivots_form.select_a_stage')
  = select_tag :stage_model_id, options_from_collection_for_select(idea_stages, "id", "name"), class: 'form-control idea_pivot_select_button'
  = hidden_field_tag :activities_model_ids
  #idea_activities_pivot_form
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    = submit_tag  I18n.t('views.idea_pivots.idea_pivots_form.save'), class: 'btn btn-success', id: 'generate_idea_pivot_button'
