%section
  .wp-section
    .row
      .col-md-12
        .wp-block.default.user-form
          .form-header
            %h2
              = I18n.t('views.advisors.edit.headline')
          .form-body
            = simple_form_for (@advisor),html:{id: "advisorAvatarForm"} do |f|
              %fieldset
                %section
                  .form-group
                    = f.input :avatar , as: :file, :hint => avatar_tag(f.object,'avatar')
            =link_to I18n.t('views.advisors.edit.upload_image'), "#",class: "btn btn-default btn-width", id: "advisorAvatarlink"

            = simple_form_for (@advisor) do |f|
              = f.error_notification
              = f.input :first_name
              = f.input :last_name
              = f.input :phone
              = f.input :profession
              = f.input :occupation
              = f.input :summary, as: :text
              /= f.input :tag_list, label: I18n.t('views.advisors.edit.form.tag_list')
              = f.input :facebook
              = f.input :linkedin
              = f.input :twitter
              .center-align
                = f.button :submit, I18n.t('views.advisors.edit.save_changes'), class: "btn btn-width btn-primary"
