#configAdvisorAccount
  .container
    .row
      .col-md-5.col-md-offset-2
        %section.slice.bg-white
          .wp-section
            .wp-block.default.user-form
              .form-header
                %h2
                  = I18n.t('views.advisors.registrations.edit.change_password')
              .form-body
                = simple_form_for(@advisor, url: advisor_registration_path(@advisor), html: { method: :put }) do |f|
                  = f.error_notification
                  .form-inputs
                    =# f.input :email, required: true, autofocus: true
                    = f.input :password, autocomplete: "off", hint: I18n.t('views.advisors.edit_account.leave_blank'), required: false
                    = f.input :password_confirmation, required: false
                    = f.input :current_password, hint: I18n.t('views.advisors.edit_account.current_password') , required: true
                  .center-align
                    = f.button :submit, I18n.t('views.advisors.registrations.edit.save_changes'), class: "btn-width btn btn-default"
