%section#avisorStartupIndex
  %h2
    = I18n.t('views.advisors.following_ideas.following_ideas')
  %section.entrepreneur-ideas-profile
    -@active_following_ideas.each do |idea|
      =render partial: "ideas/active_idea", locals: {idea: idea}

-if @unactive_following_ideas.any?
  %strong
    = I18n.t('views.advisors.following_ideas.inactive_ideas')
  %ul.unactive-ideas#unactiveIdeasList
    -@unactive_following_ideas.each do |idea|
      =render partial: "advisors/unactive_idea", locals: {idea: idea}