#indexAdvisors
  %h3 Asesores 
  .container-fluid
    #entrepreneuerList
      .row
        -@advisors.each do |advisor|
          .col-sm-4
            .container-fluid
              .entrepreneur-item
                .col-xs-3
                  .entrepreneur-image-container
                    =avatar_tag(advisor,"circular")
                .col-xs-9
                  .entrepreneur-content-container
                    .name
                      =advisor.name

                    - if allow_manage_advisor?(advisor)
                      = link_to I18n.t('views.entrepreneurs.index.go_to_my_profile'), advisor, class: "btn-link"
                    -else
                      = link_to "Ver perfil", advisor, class: "btn-link"
                      %button.btn-message-index{"data-target" => "#messageForm", "data-toggle" => "modal", "data-type" => "Advisor", "data-email" => advisor.email , :type => "button","data-name"=>advisor.name}
                        = I18n.t('views.entrepreneurs.index.send_message')
                      %br
                     

/ .col-xs-12.col-sm-offset-3.col-sm-6
/   .panel.panel-default
/     .panel-heading.c-list
/       %span.title
/         = I18n.t('views.advisors.index.headline')
/     %ul#contact-list.list-group
/       -@advisors.each do |advisor|
/         %li.list-group-item
/           .col-xs-12.col-sm-3
/             =avatar_tag(advisor,"circular")
/           .col-xs-12.col-sm-9
/             %span.name 
/               =advisor.name
/             %br/
/             - if allow_manage_advisor?(advisor)
/               = link_to I18n.t('views.advisors.index.go_to_my_profile'), advisor, class: "btn btn-info"
/             -else
/               %button.btn.btn-default.btn-message{"data-target" => "#messageForm", "data-toggle" => "modal", "data-type" => "Advisor", "data-email" => advisor.email , :type => "button","data-name"=>advisor.name}
/                 = I18n.t('views.advisors.index.send_message')
/           .clearfix
=render "/conversations/conversation_modals"