%section#activivitiesList
  %h1 Mi actividad como asesor
%br
  #notificationsList
    - @activity_records.each do |activity|
      .notification-container
        =render_activity(activity, fallback: 'default')
  =#will_paginate @activities
    