#AdvisorReports
  .advisor-reports
    %table.table.table-bordered
      %tbody
        %tr
          %td.table-logo.text-center 
            =image_tag wicked_pdf_asset_base64("logo-purple.png")
          %td.text-center 
            %h5 
              PROCESO CREACIÓN DE STARTUPS 
              %br
              ACTA DE REUNION
          %td
            Version: 1
            %br
            Fecha: 28/10/2015
    
    .data-reports
      .row
        .col-sm-3
          %h5
            %strong Fecha:
            =@comment.reported_at_formated

      .row
        .col-sm-12
          %h5 
            %strong Emprendimiento:
            ="#{@activity.startup.name} - #{@activity.idea.name}"
          %h5 
            %strong Tema:
            ="#{}: Actividad #{@activity.model.name}"
    



  .subject-reports
    %table.table.table-bordered
      %thead
        %tr
          %th.text-center Temas tratados 
      %tbody
        %tr
          %td
            %p.body-report
              =@comment.body

  %h4 Asistentes
  .attendant-reports
    %table.table.table-bordered
      %thead
        %tr
          %th.text-center Nombre 
          %th.text-center Cédula 
          %th.text-center Entidad 
          %th.text-center Firma 
      %tbody
        %tr
          %td
            =@comment.user_name
          %td
          %td Creatic
          %td 
        -5.times do 
          %tr
            %td
              %p.assistant-report
            %td
            %td 
            %td
        