%section#advisorProfile.padding-right.startup-padding-top
  .fb-profile
    .advisor-profile-cover
      .advisor-profile-cover-color
      %h2.title-header.advisor-header
        = I18n.t('views.advisors.show.advisor')
      %h1.user-name
        =@advisor.name
    .user-profile-cover-div

  %section.user-info
    .row
      .col-sm-3 
        .user-image-profile
          =avatar_tag @advisor , "fb-image-user-profile thumbnail"
        .text-center
          -if @advisor == current_emprende_user
            =link_to edit_advisor_path, class: "btn btn-primary btn-width" do
              .fa.fa-edit
              = I18n.t('views.advisors.show.edit_profile')
          =advisor_message_button(@advisor)
      .col-sm-4
        .user-info-profile
          %p
            %strong
              = I18n.t('views.advisors.show.email')
            =@advisor.email
          %p
            %strong
              = I18n.t('views.advisors.show.profession')
            =@advisor.profession
          %p
            %strong
              = I18n.t('views.advisors.show.occupation')
            =@advisor.occupation
        
      .col-sm-5
        .user-info-profile
          - if !@advisor.linkedin.nil?
            - if !@advisor.linkedin.empty?
              = link_to @advisor.linkedin, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-linkedin
                    LinkedIn
          - if !@advisor.twitter.nil?
            - if !@advisor.twitter.empty?
              = link_to @advisor.twitter, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-twitter
                    Twitter
          - if !@advisor.facebook.nil?
            - if !@advisor.facebook.empty?
              = link_to @advisor.facebook, target: "_blank" do
                %p
                  %strong
                    %span.fa.fa-facebook
                    Facebook
        

#advisorInfo
  .container-fluid
    .col-md-8.col-md-offset-2
      .advisor-bio
        %h3.text-center
          = I18n.t('views.advisors.show.about')
          =@advisor.first_name
        %p
          =@advisor.summary

=render "/conversations/conversation_modals"



