// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.activity {
  border-bottom: solid 1px #ccc;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}

.scroll-list{
  height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.scroll-startups{
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
.clear:before,
.clear:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clear:after { clear: both; }
.clear { zoom: 1; } /* IE < 8 */