// Place all the styles related to the advisors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #2c3e50;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;

.advisor-brand-title{
  font-size: 16px!important;
}
.btn-default{
    background: #eee;
    border: 1px solid darken(#eee,20%)!important;
}
.checkbox label {
  padding-left: 0px !important;
}

.text-small {
  display: inline;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
}

.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}


.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}


.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}
ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;   
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.avatar{
  width: 100px!important;
  height: 100px!important;
}
.circular {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.list-group-item .name{
  margin-bottom: 10px!important;
  display: inline-block;
}

.btn-message{
  background: #eee!important;
  border: 1px solid darken(#eee,20%)!important;
}

.advisor-admin-options{
  display: inline-block;
  width: 100%;
  
  h3{
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
  }
  .title-advisor-options{
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
  }
  .advisor-options-container{
    display: inline-block;
  } 

  .advisor-option{
    margin-right: 20px;
    float: left;
    margin-top: 20px;
    h3{
      font-size: 16px;
      font-weight: 13px!important;
      margin-bottom: 7px;
    }
  }
}
#advisorOptions{  
  margin-bottom: 20px;
}

.advisor-header{
  background: #5BC0DE!important;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #2BAFC3;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white!important;
  font-size: 17px!important;
}

.startup-header{
  background: #C83317!important;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #A74141;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: white!important;
  font-size: 17px!important;
}
