/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require bootstrap-switch.min
 *= require ajax_pagination
 *= require magnific-popup
 *= require jquery-ui
 *= require jquery.tagit.css
 *= require_self
 */

#content-visitors {
    width: 100%;
    display: inline-block;
}
#content {
    width: 100%;
    display: inline-block;
    margin-top: 70px;
}

#footer {
    margin-top: 40px;
    width:100%;
    height:0px;
    bottom:0;
    left:0;
}

.padding-body{
    margin-top: 80px;
}

.top-buffer {
    margin-top:20px;
}

.avatar {
    border-width: 2px;
}

.btn-width{
    min-width: 150px;
}
.padding-right{
    padding-right: 30px;
}
.title-underline{
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding-bottom: 8px;
    margin-bottom: 20px!important;
}

.alert .close span{
    color: #eee;
}
.breadcrumb{
    position: relative;
}

@media (max-width: 993px) { 
/*    #content{
        margin-top: 100px!important;
    }*/
}