.background-image-3{
  background: url(<%=asset_path('background-yellow.png')%>) no-repeat center center!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.news-container{
  .post-item{
    background: white!important;
  }
  padding-bottom: 40px;
  position: relative!important;
  background: url(<%=asset_path('news-background.png')%>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.startup-container{
  position: relative;
  width: 100%;
  height: 200px;
}
.startup-cover{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(<%=asset_path('incubacion')%>);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9;
}
.user-profile-cover{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 162px;
  background: url(<%=asset_path('background-green')%>);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9;
  
}

.advisor-profile-cover{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 162px;
  background: url(<%=asset_path('background-blue')%>);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9;
  
}


.startup-profile-cover{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 162px;
  background: url(<%=asset_path('background-red')%>);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9;
  
}

.startup-new-background{
  width: 100%;
  position: absolute;
  height: 400px;
  background: black;
  left: 0;
  top: 0;
  background: url(<%=asset_path('background-red')%>);
}

.background-black-hover{
  width: 100%;
  position: absolute;
  height: 400px;
  background: black;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.2);
}

.sidebar-card{
  background: rgba(192,192,192,0.3) url(<%=asset_path('bg.png')%>) no-repeat center center!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-people{
  background: url(<%=asset_path('background-people.png')%>) no-repeat center center!important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background-diamond{
  background: url(<%=asset_path('whitediamond.png')%>) center center!important; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.empty-carousel{
  padding-top: 280px;
  margin-bottom: 30px;
  border: 1px solid #eee;
  border-radius: 2px;
  width: 100%;
  min-height: 300px;
  background: url(<%=asset_path('default-image.png')%>) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.ajax-modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('<%=asset_path('ajax-loader.gif')%>') 
              50% 50% 
              no-repeat;
}