// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#commentTags{
  margin-bottom: 10px;
}

.ui-datepicker {
    width: auto!important; 
    padding: .2em .2em 0;
    display: none;
}