// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.badge-red{
  background: #E41F26!important;
}
.bar{
  background: green;
}
.message-alert{
  font-size: 18px;
  color: gray;
  font-weight: lighter;
}


.notification-dropdown .notification-sender{
  padding: 10px;
  border-bottom: 2px solid #eee;
  min-height: 70px;
}
.notification-dropdown .notification-sender .notification-image{
  width: 40px!important;
  height: 40px!important;
  border-radius: 100%;
}
.dropdown-menu.notification-dropdown{
  width: 500px;
}

.notification-dropdown .notification-sender{
  position: relative;
  height: 60px;
  width: 100%;
}

.sender-content{
  float: left;
}

.sender-date{
  font-size: 9px;
  float: right;
  max-width: 40px;
  line-height: 9px;
  margin-top: 5px;
}

.sender-content{
  width: 70%!important;

}
.notification-title .body-message{
  color: light-gray!important;
  font-size: 14px!important;
}

.notification-dropdown .notification-sender .notification-title{
  span{
    color: light-gray!important;
    font-weight: lighter!important;
    text-transform: none;
    font-size: 11px;
    float: left;
  }
}
.notification-date{

}
.notification-sender:hover{
  background: #eee;
}
.notification-dropdown .notification-sender .image{
  float: left;
  width: 50px;
}

.notification-dropdown .notification-sender .sender-content{
  width: 80%;
}

.notification-labels{
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.message-inbox-icon{
  margin-right: 3px;
}

.notification-empty{
  h5{
    font-size: 15px;
  }
  margin-bottom: 0!important;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 0px;
  border-bottom: 2px solid #eee;
}

.list-group-item.read{
  background-color: #F3F3F3;
}

input[type='checkbox']{
  cursor: pointer;
}

.mailbox-message{
  font-weight: lighter;
  text-transform: none;
  font-size: 16px;
}

.dropdown-last-option{
  border-top: 1px solid #eee;
  padding-top: 5px!important;
}