
.user-profile-cover{

}

.user-profile{
}

.user-image-profile{
  text-align: center;
  width: 100%;
}
.fb-image-user-profile{
  display: inline-block;
  position: relative;
  margin-top:  -35%;
  margin-left: 0;
  margin-right: 0;
  border-radius:50%;
  width: 80%;
  max-width: 180px;
  
  z-index: 10!important;
  border: 1px solid #eee;
  padding: 3px;
}
.fb-image-user-profile img{

}

.user-profile-cover-color{
  position: absolute;
  left: 0;
  width: 100%;
  height: 162px;
  z-index: -10!important;
  background: rgba(0, 0, 0, 0.2);
}

.advisor-profile-cover-color{
  position: absolute;
  left: 0;
  width: 100%;
  height: 162px;
  z-index: -10!important;
  background: rgba(0, 0, 0, 0.2);
}
.startup-profile-cover-color{
  position: absolute;
  left: 0;
  width: 100%;
  height: 162px;
  z-index: -10!important;
  background: rgba(0, 0, 0, 0.2);
}
.user-profile-cover-div{
  position: relative;
  width: 100%;
  height: 162px;
}

.user-info-profile{
  margin-top: 20px;
}
.startup-container{
  position: relative;
}
.user-profile-cover .user-name{
  position: absolute;
  bottom: 10px;
  left: 26%;
  color: white;
  margin-bottom: 0!important;
}

.advisor-profile-cover .user-name{
  position: absolute;
  bottom: 10px;
  left: 26%;
  color: white;
  margin-bottom: 0!important;
}


.startup-profile-cover .user-name{
  position: absolute;
  bottom: 10px;
  left: 26%;
  color: white;
  margin-bottom: 0!important;
}
.title-header{
  position: absolute;
  bottom: 45px;
  left: 26%;
  color: #1D0244;
  margin-bottom: 0!important;
  font-family: "Roboto"
}
.startup-name{
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto";
}
#entrepreneurProfileStartups{
  margin-top: 40px;
} 

.startup-item-head{
  padding-top:20px;
  padding-bottom:0px;
}
.startup-item{
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(140,140,140,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(140,140,140,1);
  box-shadow: 1px 1px 5px 0px rgba(140,140,140,1);
}

.label-entrepreneur{
  background: #6DA625!important;
}

.startup-item-body{
  // background: lighten(#eee,3%);
  background: lighten(#eee,5%);
  min-height: 40px;
  padding: 10px;
}


.total-percentage{
  font-size: 35px!important;
  color: darken(#7A9F25,10%);
  margin-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 0!important;
  border-bottom: 1px solid #eee;
}

@media (max-width: 780px) {

  .title-header{
    top: 50px;
    left: default!important;
    display: block!important;
    height: 35px;
    margin-top: 5px;
  }
  .fb-image-user-profile{
    margin-top:  -15%;
    }

  .user-profile-cover .user-name{
    top: 20px;
    right: 10px;
    bottom: default;
    left: default!important;
    color: white;
    margin-bottom: 0!important;
  }
  .advisor-profile-cover .user-name{
    top: 20px;
    right: 10px;
    bottom: default;
    left: default!important;
    color: white;
    margin-bottom: 0!important;
  }
  .startup-profile-cover .user-name{
    top: 20px;
    right: 10px;
    bottom: default;
    left: default!important;
    color: white;
    margin-bottom: 0!important;
  }

}



@media (min-width: 1280px) {
  .user-profile-cover .user-name{
    position: absolute;
    bottom: 10px;
    left: 40%;
    color: white;
    margin-bottom: 0!important;
  }

  .startup-profile-cover .user-name{
    position: absolute;
    bottom: 10px;
    left: 40%;
    color: white;
    margin-bottom: 0!important;
  }

  .title-header{
   
    left: 40%;
    
  }
}