$navbar-color: white;
$primary-color: #1D0244;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;
$entrepreneur: #7A9F25;
$advisor: #002D45;

.entrepreneur-wp{
  border: 1px solid #7A9F25!important;
  .form-header{
    background: #7A9F25!important;
    h2{
      color: white!important;
    }
  }
  .btn{
    background: $entrepreneur!important;
    color: white!important;
  }
}

.advisor-wp{
  border: 1px solid $blue1!important;
  .form-header{
    background: $blue1!important;
    h2{
      color: white!important;
    }
  }
  .btn{
    background: $blue1!important;
    color: white!important;
  }
}

.query-message{
  font-weight: lighter;
  font-size: 22px!important;
  margin-bottom: 5px!important;
  padding-bottom: 0px!important;
  color: black;
}
.query-back-link{
  font-size: 16px;
  display: none;
}

#indexMessages{
  margin-bottom: 20px;
}