$navbar-color: white;
$primary-color: #1D0244;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;
$entrepreneur: #7A9F25;
$advisor: #002D45;

/* Profile container */

.profile-name-header{
  border-bottom: 3px double #eee!important;
  border-bottom-style: double!important;
  padding-bottom: 5px;
}
.mini_thumb{
  width: 50px;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 7px;
}
.profile-usertitle-extrainfo{
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  //padding: 20px;
  background: #fff;
  min-height: 460px;
}


// startups information
.entrepreneur-profile-startuppic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.entrepreneur-profile-startuptitle {
  text-align: center;
  margin-top: 20px;
}

.entrepreneur-profile-startupbuttons {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.entrepreneur-profile-ideas{
  margin-top: 15px;
}

.entrepreneur-profile-ideapic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.entrepreneur-profile-idea{
  margin-bottom: 15px;
}

.social-links{
  width: 60px;
  position: absolute;
  right: 5px;
  top: 12px;
}
.social-links a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;
    font-size: 21px;
    height: 39px;
    line-height: 38px;
    margin: 8px;
    text-align: center;
    width: 39px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none !important;
    list-style: none!important;
    display: list-item;
    background-color: rgba(255, 255, 255, 0.1);
}
.social-links a:hover {
  color: white;
}
.entepreneur-card{
  position: relative;
  border-radius: 0px;
  border-color: darken(white,2%);
  // border-radius: 2px;
  // -webkit-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  // -moz-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  // box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  
  //background: $primary-color!important;
  //background: black; 
  .name{
    margin-bottom: 5px!important;
    text-align: center;
  }

  .caption{
    background: white;
  }
  .info{
    margin-bottom: 10px;
    padding-left: 10px;
  }
}
.entrepreneur-image-card{
  width: 50%!important;
  max-width: 200px!important;
  //margin-bottom: 5px;
  border:  3px solid #eee;
  margin: 15px;
  padding: 1px;
  border-radius: 5px;
}

.entrepreneur-options{
  margin-bottom: 20px;
}

.entrepreneur-startups-title{
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.btn-new-startup{
  margin-bottom: 10px;
  margin-top: -8px;
  margin-left: 5px;
}

.idea-column-stages{
  background: white; 
  min-height: 150px;
}


.idea
{   
    width: 100%;
    display: inline-block;
    position: relative;
}

.idea:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #7A9F25;
    bottom: -2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transform: 0.2s ease-in;
}

.idea:hover:before
{
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}


.idea:hover{
  .idea-column-stages{
    // background: darken(#eee, 10%);
    // -moz-transition: all 0.2s ease-in;
    // /* WebKit */
    // -webkit-transition: all 0.2s ease-in;
    // /* Opera */
    // -o-transition: all 0.2s ease-in;
    // /* Standard */
    // transition: all 0.2s ease-in;
  }
}
.entrepreneur-ideas-profile{
  display: block!important;
  position: relative;
  width: 100%;
  margin-top: 10px;
  .idea{
    position: relative!important;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid #eee;
    background: white;
  }
  .idea-title{
    width: 100%;
    text-align:center;
    margin-bottom: 10px;
  }

  .idea-content-title{
    text-align: center;
    margin-top: 10px;
  }

  .idea-avatar-image{
    display: inline-block;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 2px;
  }
  .idea-stages{
    margin-bottom: 10px;
  }
  .idea-stage{
    display: block;
    min-width: 100px;
    background: white;
    margin-left: 10px;
    height: 60px;
    margin-top: 10px;
    text-align: center;
    line-height: 60px;
    position: relative!important;
  }

  .idea-stage:focus {
    outline: none;
  }

  .idea-stage .stage-name{
    vertical-align: middle;
    line-height: 15px;
    display: inline-block;
  }
  .process-name{
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: gray;
  }
}

.idea-stage.stage-pending{
  position: relative;
  background: darken(#eee,50%);
  color: darken(#eee,20%);
}
.idea-stage-icon{
  width: 20px;
  position: absolute;
  bottom: -20px;
  right: -5px;
  img{
    width: 100%;
  }
}
.idea-stage-icon-small{
  width: 20px;
  position: absolute;
  bottom: -10px;
  right: -5px;
  img{
    width: 100%;
  }
}
.idea-stage.stage-start{
  background: #4B77BE!important;
  color: white;
  font-weight: bold;
}

.idea-stage.stage-finish{
  background: #7A9F25;
  color: white;
  font-weight: bold;
}

.idea-buttons{
  width: 100%;
  max-width: 150px;
  display: inline-block;
}

.idea-buttons a{
  margin-bottom: 10px;
  width: 100%;
}

.idea-column{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.entrepreneur-startups{
  margin-bottom: 20px;
}
.entrepreneur-startups a.startup{
  height: 80px;
  line-height: 80px;
  width: 100%!important;
  display: inline-block;
}

.entrepreneur-startups .startup:hover{
  background: #eee;
}
.entrepreneur-startups .startup-image{
   width: 50px;
  display: inline-block;
}

.entrepreneur-startups .startup-name{
  margin-left: 10px;
  display: inline-block;
  vertical-align: center;
}

.startup-mini-thumb{
  width: 20px;
  display: inline-block;
}
@media (max-width: 1200px) { 
  .social-links{
    width: 35px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .social-links a {
    border: 1px solid gray;
    border-radius: 50%;
    color: gray;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: 4px;
    text-align: center;
    width: 30px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none !important;
    list-style: none!important;
    display: list-item;
    background-color: rgba(255, 255, 255, 0.1);
  }

}

.tooltip{
  min-width: 100px!important;
  display: inline!important;
}
#entrepreneurAvatarForm , #advisorAvatarForm{
  img{
    margin-left: 20px;
  }
}
#entrepreneurAvatarlink, #advisorAvatarlink{
  margin-bottom: 20px;
}

#inputEntrepreneurSearch{
  width: 500px;
}

.team-member-options{
  margin-top: 20px;
  margin-bottom: 20px;
}
.select2-result-repository__avatar{
  width: 60px!important;
  margin-right: 10px;
  float: left;
  img{
    width: 100%;
  }
}

.best_in_place{
  text-align: center;
  display: block;
  min-width: 20px;
  background: #eee;
  cursor: pointer;
}

.entrepreneur-item:hover{
  background: lighten(#eee,2%);
}

.entrepreneur-item{
  display: inline-block;
  border: 1px solid #eee;
  padding: 10px;
  width: 100%;
  .col-xs-3,
  .col-xs-9{
    padding-left: 0!important;
    padding-right: 10px!important;
  }
  .entrepreneur-image-container{

    width: 100%;
    text-align: center;
    img{
      display: inline-block;
    }
  }
}
.btn-message-index{
  margin-left: 6px;
}
.entrepreneur-content-container{

  display: inline-block;
  .name{
    font-size: 16px;
    font-family: 'Roboto';
    color: black;
    height: 22px;
    overflow: hidden;
    margin-bottom: 6px;

  }
}

/* entrepreneurs index */
.input-group-search-entrepreneurs{
  margin-bottom: 10px ;
}