// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: white;
$primary-color: #1D0244;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;
$entrepreneur: #7A9F25;
$advisor: #002D45;

.advisor-edit-drive{
  margin-top: 20px;
  display: inline-block;
  width: 100%;
}
.idea-profile-info h3{
  font-size: 18px;
  font-weight: bolder;
  //margin-top: 20px;
  //border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  //padding-bottom: 8px;
} 
#carousel-example-generic{
  margin-top: 15px;
  margin-bottom: 30px;
}
.idea-profile-info .data-box{
  display: inline-block;
  margin-bottom: 30px;
}
.idea-profile-info p{

  font-size: 15px;
  font-weight: medium;
  color: lighten(gray,10%);
}
.idea-profile-stage-divider:last-child{
  .line{
    height: 0!important;
  }
}
.idea-info-profile h3{
  color: $primary-color;
}
.idea-profile-stage-divider{
  width: 100%;
  height: 40px;
  display: inline-block;
  text-align: center;
  .line{
    width: 3px;
    display: inline-block;
    height: 44px;
    border-right: 2px dashed black;
  }
}
.idea-achievements{
  margin-top: 40px;
}
.idea-profile-stage{
  margin-top: 10px;
  position: relative;
  width: 98%;
  float: right;
  background: #eee;
  padding: 10px;
  
}
.idea-summary, .idea-problem{
  min-height: 50px;
}

.idea-profile-process{
  margin-top: 20px;
  h1{
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
}
.idea-name-title{
  color: $primary-color!important;
  display: inline-block;
  padding-bottom: 10px;
  width: 100%;
  .message{
    font-size: 15px;
    font-weight: lighter;
    color: gray;
    padding-top: 13px;
    text-transform: none!important;
  }
}
.idea-startup-name{
  font-size: 15px;
}

.idea-profile-stages{
  h2{
    font-weight: lighter;
  }
}
.idea-profile-activities{
  text-align: center;
}
.idea-profile-activity{
  min-width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 50px;
  display: inline-block;
  background: white;
  padding: 0 10px 0 10px;
  line-height: 50px;
  border: 1px dashed gray;
}

.idea-profile-card{
  background: lighten(#eee,5%); 
  border-radius: 0px;
  // border-radius: 2px;
  // -webkit-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  // -moz-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  // box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
}

.idea-profile-card .caption{
  background: white;
}
.idea-profile-acitivity span{
  vertical-align: center;
  display: inline-block;
}

.idea-profile-header.main-idea{
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 20px; 
    -webkit-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  
}

.edit-options-idea{
  margin-top: 10px;
}

.idea-edit-header-options{
  width: 100%;
  //border-bottom: 2px solid #eee;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.idea-profile-image{
  width: 150px;
  //margin-bottom: 5px;
  border:  3px solid #eee;
  float: left;
  padding: 1px;
  border-radius: 5px;
  margin-right: 20px;
  
}

// advisor side

.stage_statuses{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

#backtoIdea{
  position: fixed;
  top: 10px;
  left: 250px;
  z-index: 1030;
  .btn{
    
  }
}

.idea-profile-stage{
  h2{
    .status{
      font-weight: lighter;
      font-size: 16px!important;
    }
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
  }
  .stage-dates{
    font-weight: lighter;
    font-size: 16px!important;
  }
}

// pivot form
.checkbox_label_activities_pivot_form{
  margin-left: 5px;
}

.checkbox_list_section_title{
  margin-top: 20px;
}

.sidebar-nav-fixed {
  width:24%;
}

.activity-link-activated{
  color: white;
  margin-bottom: 5px;
  padding: 3px;
}

.activity-side-active{
  background: white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  .activity-link-activated{
    color: black;
  }
}
.idea-profile-sidebar-activities{
  h5{
    color: white;
    margin-bottom: 20px!important;
  }
}

.stage-description{
  min-width: 300px!important;
}

.idea_artifact_options{
  margin-top: 5px;
  margin-left: 20px;
}
#idea-achievements-list{
  padding: 10px;
  background: lighten(#eee,5%);
  min-height: 50px;
  display: inline-block;
  width: 100%;
  .message{
    margin-bottom: 0!important;
  }
}

.test-popup-link.item{
  cursor: zoom-in;
}
.achievements-title{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 18px;
}
.achivements-center{
  display: inline-block;
}


.stage-image-thumb.pending{
  -webkit-filter: grayscale(100%);
 -moz-filter: grayscale(100%);
   -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
      filter: grayscale(100%); 
}

.stage-image-thumb.start, .stage-image-thumb.finish{
  transition: all 100ms linear;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(46,46,46,1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(46,46,46,1);
  box-shadow: 1px 1px 1px 0px rgba(46,46,46,1);
}



.stage-image-thumb{
  border-radius: 50%;
  width: 100%;
  // position: absolute;
  // left: 0;
  // width: 60px;
  // top: 60px;
  // left: -25px;
}

.idea-stages-container .main-title{
  font-size: 23px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: $primary-color;
}
.idea-process-info{
  font-size: 16px;
  margin-left: 20px;
}
.main-percentage{
  color: #419945;
  font-size: 25px;
}

.timeline-heading{
  h2{
    font-size: 20px;
  }
}
.data-box{
  width: 100%;
}

.idea-profile-header.activity-idea{
  border-bottom: 1px solid #eee;
}
.idea-stage-timeline.start,
.idea-stage-timeline.finish{
  .string.optional{
    color: white!important;
    font-weight: medium;
    font-size: 16px;
    font-family: 'Roboto'
  }
}
.advisor-option{
  width: 100%;
}
#activityComments .comment{

  border: 1px solid #eee;
  padding: 15px;
}