// Place all the styles related to the IdeaActivities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// capitalize the status of each activity in the submit button

$primary-color: #2c3e50;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;

#entrepreneur_activate_activity{
  text-transform: capitalize;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.activity-change-status-button-div{
  margin-top: 30px;
}

.change_activity_status_form{
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}

// idea activity upload artifact styles
#entrepreneur_deliverable_form_div_new, #entrepreneur_deliverable_form_div_edit {
  border-style: solid;
  border-bottom-color: black;
  border-width: 2px;
}

#artifact_model_file{
  border-style: solid;
  border-bottom-color: black;
  border-width: 1px;
}

#artifact_model_name, #artifact_model_description{
  margin-left: 20px;
}

.ajax-form-alert-div-comment{
  margin-bottom: 3px;
}




.comments-pagination, .artifacts-pagination{
  text-align: center;
  max-width: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
}

// activity info header

#drive-folder-information-id{
  display: none;
}

.activity-name-title{
  border-bottom: 1px solid #eee;
}
.activity-idea-name, .activity-idea-artifacts-title , .activity-idea-comments-title{
  margin-top: 15px;
  padding-top: 5px;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}
.activity-image {
  max-width: 200px !important;
  border: 3px solid #eee;
  padding: 1px;
  border-radius: 5px;
}

.activity-idea-logo{
  padding: 5px;
}

.activity-idea-image{
  margin-left: auto;
  margin-right: auto;
  max-width: 150px !important;
}

#activity-description{
  margin-top: 10px;
  h3{
    font-weight: lighter;

  }
  p{
    margin-top: 5px;
    padding: 2px;
  }
}

#idea-activity-start-date {
  p {color: #616161!important; font-family: 'Roboto'}
  margin-top: 10px;
}

#idea-activity-due-date {
  p{color: #616161!important; font-family: 'Roboto';}
  margin-top: 10px;
}

// idea artifacts

#create_new_idea_artifact_link{
  
}

// comments

.comments_section{
  margin-left: 30px;
  margin-right: 30px;
}

.submit-comment-button{
  float: right;
}

.comment_user{
  margin-left: 1em;
}

.comment_body{
  
}


.activity-content{
  margin-top: 20px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  box-shadow: 1px 1px 5px 1px rgba(230,223,230,1);
  h3{
    font-size: 18px;
  }
  p{
    color: lighten(gray,10%);
    font-size: 15px;
    font-weight: 10px;
    text-transform: none!important;
  }
}
.start-activity-content{
  text-align: center;
  width: 100%;
}

.btn-start-activity{
  padding-top:15px;
  padding-bottom: 15px;
  font-size: 20px;
}

#activityDescription{
  margin-bottom: 0px!important;
  padding-bottom: 40px;
}
.artifact-model{
  text-align: center;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}
.artifact-model:hover{
  background: $blue3;
  color: white;
}
#idea-activity-body{
  border-top: 1px solid #eee;
  padding-top: 30px;

}

.comment-form{
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.idea-profile-activity{
  position: relative;
}
.idea-profile-stage.pending{
  .idea-profile-activity{
    background: #eee!important;
  }
}

.idea-profile-stage.start{
  h2{
    color: white;
    font-weight: bold;
  }
  //background: #4B77BE!important;
  .idea-profile-activity{
    background: white;
  }
}

.idea-profile-stage.start, .idea-profile-stage.finish{
  .idea-profile-activity:hover{
    background: #19B5FE!important;
    color: white;
    font-size: 13px;
  }
}

.idea_artifact_options{
  margin-bottom: 20px;
}

.finish.idea-profile-stage{
  h2{
    color: white;
    font-weight: bold;
  }
  //background: rgba(122, 159, 37, 0.7);
  .idea-profile-activity{
    background: white!important;
  }
}

.idea-activity-state{
  display: inline-block;
  color: white!important;
  font-family: 'Roboto';
  padding-top: 15px;
  margin-right: 6px;
  margin-bottom: 0!important;
}

#idea-activity-state{
  border-top: 3px solid #4B77BE;
  background: #3A4245;
  padding-bottom: 8px;
  margin-bottom:30px;
}
.activity-status-image{
  display: inline-block;
  width: 40px;
  img{
    width: 100%;
  }
}
// .artifact-link-container{
//   border: 2px solid #02468D;
//   display: inline-block;
//   padding: 5px;
// }
.artifact-description-name{
  color: #02468D;
  font-size: 16px;
  font-family: 'Roboto'
}
.activity-requirement-artifacts{
  padding-left: 10px; 
}

.artifact-link-container{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.artifact-link-container:last-child{
  border-bottom: 0px!important;
}
.artifact-description-content{
  a{

  }
  color: lighten(gray, 10%);
  font-size: 14px;
  padding-left: 10px;
}

#commentContainer{
  margin-top: 30px;
}