// Place all the styles related to the IdeaArtifacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.idea-mini-thumb{
  width: 20px;
  display: inline-block;
}

// alerts
.ajax-form-alert-div-artifact{
 color: indianred;
}

.drive-picker-form-alert-div{
  color: darkseagreen;
}

// artifacts list
.idea_artifact{
  background-color: #eee ;
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  width: 100%;
  
  //margin-left: 15px;
  //margin-right: 15px;
}

.idea_artifact_status{
  //display: inline-block;
  margin-left: 2px;
  //padding: 5px;
  //position: relative;
  //float: right;
  font-weight: bold;
  font-size: 12px;
}
.edit_idea_artifact_button{
  font-weight: bold;
  //display: inline-block;
}

.attached_file_link{
 display: inline-block;
}
.google_drive_link{
  margin-right: 25px;
  display: inline-block;
}

.attached_files{
  margin-top: 15px;
}

.artifact_drive_file_icon{
  max-height: 35px;
}

.artifact_file_icon{
  max-height: 35px;
}

.artifact_list_delete_button{
  margin-right: 5px;
  padding: 5px;
}

#artifactTags{
  margin-bottom: 10px;
}


// don't delete this style
.picker-dialog {
  z-index: 5000 !important;
}
#artifacts-list{
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.artifact-container{
  border: 1px solid #02468D!important;
  position: relative;
  float: left;
  margin-right: 20px;
  .ribbon{
    top: 50px;
    padding: 5px!important;
  }
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  
  .artifact-name{
    background: #02468D!important;
    color: white!important;
    padding: 10px!important;
    text-align: left;
    font-size: 17px;
    padding-right: 20px;
    span{
      display: inline-block;
      width: 85%!important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.edit-artifact-btn{
  position: absolute;
  right: 5px;
  top: 12px;
  color: white;
  font-size: 18px;
}
.artifact-body{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.artifact-drive{
  display: inline-block;
  width: 60px;
  margin-top: 15px;
}
.artifact-options{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  a{
    margin-left: 5px;
    float: right;
    color: white;
    font-size: 15px;
  }
}
.artifact-footer{
  border-top: 1px solid #eee;
  position: relative;
  width: 100%;
  .btn{
    background: #eee;
    display: inline-block;
    float: left;
    border-top: 1px solid darken(#eee,20%);
    border-bottom: 1px solid darken(#eee,20%);
    width: 100%;
  }
}

.wating-message{
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom:5px;
  height: 34px;
  padding-top:5px;
}
.artifact-footer.advisor{
  height: 68px;
}

.btn-artifact-status-corrections{
  display: disabled;
}

.achivement-thumb{
  width: 50px;
  border: 3px solid #eee;
  border-radius: 50%;
  padding: 5px;
}

.idea_achievement{
  max-width: 50px;
  float: left;
  margin-right: 10px;
}

.btn-create-artifact{
  margin-bottom: 20px;
}