#images_preview{
  .image-preview{
    width: 100%;
    margin-bottom: 10px;
  }
}

.image-preview{
  cursor: zoom-in;
}
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: #3EC144;
    }
  }
}
