// Place all the styles related to the invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome-message{
  font-size: 20px;
  .avatar-message{
    width: 50px;
    position: left;
    display: inline-block;
  }
  p{
    display: inline-block;
  }
}