
$primary-color: #2c3e50;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;

.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.nav-stacked li.active{
  background: $primary-color;
  a{
    color: white!important;
  }
}

.mailbox{
  input[type="checkbox"] {
    position: relative!important; 
    margin-left: 0!important;
    margin-right: 10px;
  }
  margin-bottom: 40px;
  margin-top: 30px;
}

.mail-box-item.checkbox{
  margin-right: 0px!important;
  padding-right: 0px!important;
  margin-left: 0px!important;
  padding-left: 0px!important;
  max-width: 20px;
  text-align: center;
}

.mail-box-item.name{
  font-size: 15px!important;
  margin-bottom: 0!important;
}

.mail-box-item.checkbox input{
  margin-top: 5px!important;
  display: inline-block;
  margin-left: 5px!important;
}
.mail-box-item.message{
  white-space: nowrap;
  overflow: hidden;
}

.mail-box-body{
  color: darken(#eee,30%);
}