.message-item {
  margin-bottom: -2px!important;
}

.panel-heading{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.message-header{
  margin-top: 0px!important;
  padding-top: 0px!important;
  margin-bottom: 5px;
}
.message-item .sender-thumb{
  width: 30px!important;
  height: 30px!important;
  margin-right: 10px;
  margin-top: 0px;
}
.message-sender-info .sender-name{
  font-size: 14px;
  float: left;
  margin-right: 5px;
}
.message-title{
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;

}
.message-subject{
  font-size: 20px;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

.message-sender-info .sender-avatar{
  float: left;
}

.message-header{
  padding-top: 10px!important;
  min-height: 50px;
}

.message-info{
  margin-top: 3px;
}
.message-subject-header{
  font-size: 14px;
  float: left;
  margin-right: 10px;
}

.message-body-header{
  font-size: 13px;
  color: gray;
}

.panel-info{
   margin-top: 10px;
}