.idea-tootip{
  .tooltip-content{
    background: white;
    color: black;
  }
  .tooltipster-title{
    font-size: 16px;
    
  }
}

.tooltipster-light {
  padding: 5px!important;
  border: 2px solid #000;
  background: white!important;
  color: black;
}