$navbar-color: white;
$primary-color: #1D0244;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;
$entrepreneur: #7A9F25;
$advisor: #002D45;

.container-padding{
  padding-left: 3%!important;
  padding-right: 3%!important;
}
.user-navbar{
  // position: fixed;
  // display: inline-nav-item;
  // right: 0;
  // z-index: 1000;
  // top: 0;
  // width: 100%;
  border-bottom: 1px solid transparent!important;

  .navbar-brand{
    float: left!important
  }
  .login-nav-item{
    float: left;
    height: 49px;
    padding-top: 0px;
    a{
      background: transparent!important;
    }
  }
  .inline-nav-item{
    float: left;
    height: 49px;
    padding-top: 5px;
    
    a{
      background: transparent!important;
      color: gray;
    }
    a:hover{
      color: gray;
    }
  }
  .dropdown-menu{
    a{
      color: black!important;
    }
    li{
      border-bottom: 2px solid white!important;
    }
    li.dropdown-item:hover{
      background: #eee;
    }
  }
}


.navbar-header-home{
  width: 30px;
  img{
    width: 100%;
  }
}

.navbar-transparent{
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  position: absolute;
  top: 10px;
  padding-bottom: 10px!important;
  background: transparent!important;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid!important;
}
.navbar-transparent{
  .sign-up-navbar{
    color: white!important;
  }
  .sign-in-navbar{
    color: white!important;
    border: 2px solid white!important;
  }
}

.ls-bg{
  left: 0!important;
}

@media (max-width: 768px) {
  .navbar-transparent{
    top: 0;
    background: $primary-color!important;
    position: relative;
    padding-bottom: 0px!important;
  }
}