.unread-true.notification-sender{
  background: lighten(#eee,1%);
}
#my-notifications{
  overflow: scroll;
  max-height: 200px;
}

.notification-container{
  .notification-sender{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    position: relative;
    border: 1px solid #eee;
    .image{
      width: 60px;
      float: left;
      margin-right: 20px;
    }
    .notification-title {
      font-weight: lighter;
      font-size: 14px;
    }
  }
}

