.popover{
  z-index: 4000;
  display: inline-block;
}

.tooltipstered .idea-stage-icon{
  transition: 0.3s ease;
}

.tooltipstered:hover{
  .idea-stage-icon{
    transform: scale(1.5, 1.5);
    opacity: 1;
  }
}
