.row-border{
  border: 1px solid black;
  padding: 10px;
}

.row-border .right-border{
  border: 1px sollid black;
  display: inline-block;
}

.table-logo img{
  margin-top: 10px;
  width: 90px;
}

.data-reports{
  padding: 15px;
}

.subject-reports{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.body-report{
  min-height: 300px;
}

.assistant-report{
  height: 10px;
}

.comment-date{
  float: right;
  margin-right: 5px;
  margin-top: 2px;
}

#AdvisorReports{
  width: 100%;
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  //margin: 40px 20px 0px 20px;
  display: inline-block;
}