$primary-color: #2c3e50;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;

.fa-2x {
font-size: 2em;
}
.main-menu{
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: left;
padding-left: 10px;
vertical-align: middle;
font-size:20px;
}
}
.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {

padding-top: 150px;
background:transparent;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height:100%;
right:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.btn-register-idea{

}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {

  border-bottom: 1px solid darken(#eee,5%);
  border-left: 2px solid darken(#eee,5%);
background: #eee;
position:relative;
display:block;
width:250px;
padding-left: 0!important;
}

.main-menu li>a {

position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:left;
vertical-align:middle;
font-size:16px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.btn-register-idea{
  padding: 40px!important;
  background-color: #28035D;
  color: white!important;
}
.btn-register-idea:hover{
  background-color: lighten(#28035D,5%)!important;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:$blue2;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

