/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */


$navbar-color: white;
$primary-color: #1D0244;
$blue1: #3a539b;
$blue2: #4b77be;
$blue3: #19b5fe;
$entrepreneur: #7A9F25;
$advisor: #002D45;

.sidebar-logo{
    width: 100%;
    padding-left: 10px;
    img{
        
        width: 60px;
    }
}

//********* Sidebar styles **********//
.sidebar-brand{
    background: $primary-color!important;
}
.sidebar-card{
    padding-left:30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.sidebar-card-image{
    width: 100%;
}
.sidebar-avatar{
    display: inline-block;
    width: 40px;
    border: 1px solid #eee;
    border-radius: 2px;
}
.sidebar-card-name{
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    line-height: 20px;
    text-overflow: ellipsis;
    height: 20px;
    overflow:hidden;
    white-space: nowrap;
    margin-top: 20px;
}
.sidebar-tags{
    display: block;
    line-height: 20px;
    margin-bottom: 20px;
}
.create-startup-sidebar{
  color: $blue2!important;
}
.sidebar-options{
  .sidebar-option-color-1{
    border-left: 4px solid $blue1;
  }
  .sidebar-option-color-3{
    border-left: 4px solid $blue3;
  }
  .sidebar-option-color-2{
    border-left: 4px solid $blue2;
  }
  .sidebar-option-color-4{
    border-left: 4px solid darken(gray,20%);
  }
  li{ 
      border-top: 1px solid darken($primary-color,5%);
      .glyphicon{
          float: right;
          padding-top: 10px;
          padding-right: 20px;
      }
  }
  li.simple-sidebar-option{
    a{
      background: $primary-color!important;
    }
    a:hover{
      color: white!important;
    }
    .glyphicon{
          float: none!important;
          padding-top: 10px;
          padding-right: 5px;
      }
  }
}
/* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
.collapse-sidebar-options{
  a{
    background: lighten($primary-color,5%)!important;
  }
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

.sidebar-nav{
    padding-top: 50px!important;
}
#sidebar-wrapper {
    border-right: 1px solid gray;
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $primary-color;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 0!important;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}



@media(min-width:768px) {
    #menu-toggle{
        display:  none!important;
    }
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}