// Place all the styles related to the startup_entrepreneurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.startup-member-position{
  margin-top: 0px!important;
  color: darken(#eee,25%);
}