// Place all the styles related to the startups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.startup-padding-top{
  margin-top: -20px;
}
.table-ideas tr:hover{
  background: #eee!important;
}

.table-ideas td {
  cursor: pointer !important;
  }
  /* Profile container */
  .startupProfile {
    margin: 20px 0;
  }

  /* Profile sidebar */
  .startupProfileSidebar {
    padding: 20px 0 10px 0;
    background: #fff;
  }

  .startupProfilePic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .startupProfileTitle {
    text-align: center;
    margin-top: 20px;
  }

  .startupProfileName {
    color: #5a7391;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .startupProfileInformation {
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .startupProfileButtons {
    text-align: center;
    margin-top: 10px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }

  .profile-usermenu {
    margin-top: 30px;
  }

  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }

  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
  }

  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }

  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
  }

  .profile-usermenu ul li.active {
    border-bottom: none;
  }

  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }

  /* Profile Content */
  .startupProfileContent {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  //startup styles

  .startup-profile-memberpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .startup-profile-membertitle {
    text-align: center;
    margin-top: 20px;
  }

  .startup-profile-ideapic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .startup-profile-ideatitle
  {
    text-align: center;
    margin-top: 20px;
  }


.startup-admin-buttons{
  bottom: 10px;
  right: 10px;
  position: absolute;
}
  //***Bootstip styles

  .fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    position: relative;
    margin: -80px 50px 0px 10px;
    z-index: 10!important;
    width: 20%;
    border-radius:50%;
    float: left;
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -35px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
    border-radius:50%;
}
}


//**** Startup profile styles

.startup-card{
  margin-top: 10px;
  margin-left: 10px;
}

.startup-member-image{
  padding:15px;
  margin-bottom: 0!important;
  width: 100%;
}

.col-centered{
float: none;
margin: 0 auto;
}
.startup-team{
  margin-top: 30px!important;
  border-bottom: 1px solid #eee;
  padding: 10px;
  background: lighten(#eee,5%);
  h2{

    color: #1D0244!important; 
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
}


.startup-ideas{
  margin-top: 30px!important;
  border-bottom: 1px solid #eee;
  padding: 10px;

  h2{
    color: #1D0244!important;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }
  h3{
    i{
      color: #C60000!important;
    }
    font-size: 20px;
    font-weight: lighter;
  }
}

.unactive-ideas{
  li{
    width: 100%;
    height: 40px;
    background: lighten(#eee,5%);;
    line-height: 40px;
    margin-bottom:  5px;
    padding-right: 10px;
    padding-left: 10px;
    p{
      display: inline-block;
      vertical-align: center;
      display: inline-block;
    }
  }
}
.unactive-idea-collapse{
  border-top: 0px!important;
  margin-top: -2px;
}


.idea-edit-options{
  display: inline-block;
  float: right;
}

#startupAvatarForm{
  img{
    margin-left: 20px;
  }
}

#ideaAvatarForm{
  img{
    margin-left: 20px;
  }
}
#avatarForm{
  margin-bottom: 40px!important;

}

.team-member-options{
  #inputEntrepreneurSearch{
    width: 400px;
    display: inline-block;
  }
  .btn-invite-team{
  }
}

.btn-send-invitation{
  margin-top: 10px;
}

.team-member-list{
  display: inline-block;
  width: 100%;
}
.thumbnail.member{
  display: inline-block;
  margin: 10px;
  position: relative;
  padding: 0!important;
  height: 216px;
  
  width: 150px!important;
  overflow: hidden;
  .team-member-position{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #6DA625;
    color: white;
    padding: 5px;
    font-family: "Roboto";
    transition: all 100ms linear;
    line-height: 16px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0!important;
    height: 26px;
  }

  .team-member-name{
    margin-top: 0px!important;
    color: black;
    transition: all 100ms linear;
    padding-top: 0px!important;
    height: 22px;
    line-height: 14px;
  }
}

.thumbnail.member:hover{
  // .team-member-name{
  //   background: lighten(#1D0244,10%);
  // }
  .team-member-position{
    background: lighten(#6DA625,10%);
  }
}
.startup-info-item{
  margin-top: 10px;
}
@media (max-width: 767px) {
  .team-member-options{
    #inputEntrepreneurSearch{
      width: 250px!important;
    }
    .btn-invite-team{
    }
  }

}



