// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trashing-elements{
  display: none; 
}
#loading-mailbox-ajax{
  display: none;
}
.home-slider-image{
  img{
    width: 250px;
  }
}

h3.home-slider-title{
  font-size: 30px!important;
  text-transform: none!important;
}

h3.home-slider-title:first-letter{
  text-transform: capitalize!important;
}

.home-slider-button{
  font-size: 20px!important;
  text-transform: lowercase!important;
}
.opinions-title{
  font-weight: lighter;
  font-size: 30px!important;
  color: gray!important;
  margin-top: 30px!important;
  margin-bottom: 20px!important;
}

.video-emprende{
  width: 100%!important;
}


.background-image-1{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
}


.news-title{
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
}

.text-lighter{
  font-weight: lighter;
}

.margin-20{
  margin-top: 20px;
}
.team-2-member{
  h2{
    margin-top: 0!important;
    text-align: left!important;
    margin-left: 0!important;
    font-size: 15px!important;
  }
}

.navbar-brand{
  img{
      width: 106px;
  }
}

.checkbox-remember{
  padding-left: 20px!important;
}

.not-found-backgroud {
  font-size: 20px;
  border: 0;
  padding: 200px;
  background: #217dbb;
}

.not-found-message{
  margin-left: auto;
  margin-right: auto;
}

.not-found-text{
  color: white;
}