* {
  transition:.25s ease-in-out;
  box-sizing:border-box;
}

.scrollStyle2::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scrollStyle2::-webkit-scrollbar
{
  width: 13px;
  background-color: #F5F5F5;
}

.scrollStyle2::-webkit-scrollbar-thumb
{
  background-color: #F90;
  background-image: -webkit-linear-gradient(90deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent)
}

.scrollStyle1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollStyle1::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.scrollStyle1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #6c627e), color-stop(0.72, #4f4468), color-stop(0.86, #483d5f));
}

#sidebar-wrapper {
  overflow-x: hidden !important;
}

.ratingCompany {
  max-width:500px;
  text-align:center;
  margin:0px auto;
  display: inline-block;
  .star-input {
    width:0;
    height:0;
    position:absolute;
    left:-5000px;
    &:checked {
      + .star-input-label {
        .orangeStar {
          animation:enlarge .5s ease-in-out forwards;
        }
        &:nth-of-type(2){
          .orangeStar {
            animation-delay:.1s;
          }
        }
        &:nth-of-type(3){
          .orangeStar {
            animation-delay:.2s;
          }
        }
        &:nth-of-type(4){
          .orangeStar {
            animation-delay:.3s;
          }
        }
        &:nth-of-type(5){
          .orangeStar {
            animation-delay:.4s;
          }
        }
      }
    }
  }
  .star-input-label {
    display:inline-block;
    padding:8px 2px;
    text-indent:-5000px;
    line-height:0;
    color: #c6c6c6;
    position:relative;
    cursor:pointer;
    &:hover,&.hovered {
      color:#a7a7a7;
    }
    i {
      display:block;
      font-size:20px;
      line-height:20px;
      text-indent:0;
      &.orangeStar {
        position:absolute;
        display:block;
        padding:8px 2px;
        top:0;
        left:0;
        text-align:center;
        width:100%;
        color:orange;
        transform:scale(0);
      }
    }
  }
}

@keyframes enlarge {
  0% {
    transform:scale(0);
  }
  70% {
    transform:scale(1.25);
  }
  100% {
    transform:scale(1);
  }
}
/*END STARTS*/
section#surveynew {
  box-shadow: 0 4px 2px -2px #00000069;
  margin-bottom: 1em;
  padding-bottom: 5px;
}

.containerStartup {
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 4px;
  padding-top: 4px;
}
.containerStartup:hover {
  background: #eeebeb;
}
.startupName{
  text-align: center;
  margin-bottom: 0 !IMPORTANT;
}
h2.startupName:hover a {
  color: #6f6581;
}

.questionCalificationGroup {
  padding: 0px;
  margin: auto;
  width: 50%;
  margin-left: 35%;
}
.questionCalificationGroup .groupNameAndStars {
  font-size: 1.1em !IMPORTANT;
  font-weight:bold;
  width: 100%;
}

.questionName {
  width: 43%;
  display: inline-block;
}
.btnStartupUnknown {
  display: block !IMPORTANT;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin-top: 8px;
  margin-bottom: 8px;

  text-decoration: none;
}
.btnStartupUnknown .buttonStartupUnknown {
  color: #1e7893;
  width: 14%;
  margin: auto;
  background: transparent;
  border: none;
  font-weight: bold;
}
.unknow {
  color: #496849 !IMPORTANT;
}
.qualified {
  color: #ffa73b !important;
}
.qualified:hover {
  background: transparent !important;
}
.btnStartupUnknown .buttonStartupUnknown:hover{
  color: black;
  cursor: pointer;
  background: #6a607c29;
  border-radius: 4px;
}
section#startup_survey {
  overflow-x: hidden;
  height: 83vh;
}
.row.centerPaginate {
  text-align: center;
  width: 80%;
  font-size: 1.1em;
  margin-left: 11%;
}
.startupUnknowWrapper{
  opacity: .5;
}
p.calificationCount {
  float: right;
  position: absolute;
  right: 5em;
  width: 14em;
  text-align: right;
  margin-top: 4px;
}