.tooltipster-light {
	border-radius: 5px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
.state-text-finish{
  color: #7A9F25;
  font-weight: bolder;
}
.state-text-start{
  color: #38447E;
  font-weight: bolder;
}