%li.sidebar-card.entreprerenur
  .sidebar-card-image
    =avatar_tag current_advisor, "sidebar-avatar"
  .sidebar-card-name.text-left
    =current_advisor.name
  .sidebar-tags
    .label.label-info
      = I18n.t('views.layouts.sidebar.advisor.role')

.sidebar-options
  %li.sidebar-option-color-1
    = link_to advisor_path(current_advisor) do
      .glyphicon.glyphicon-user
      = I18n.t('views.layouts.sidebar.advisor.profile')
  / %li.sidebar-option-color-1
  /   = link_to edit_advisor_path(current_advisor) do
  /     .glyphicon.glyphicon-edit
  /     = I18n.t('views.layouts.sidebar.advisor.edit_profile')
  %li.sidebar-option-color-2
    = link_to advisor_records_path do
      .glyphicon.fa.fa-list-alt
      Mi actividad
  %li.sidebar-option-color-2
    = link_to advisor_index_startups_path do
      .glyphicon.fa.fa-rocket
      = I18n.t('views.layouts.sidebar.advisor.registered_startups')
  %li.sidebar-option-color-2
    = link_to advisor_inactive_startups_path do
      .glyphicon.fa.fa-rocket
      = I18n.t('views.layouts.sidebar.advisor.inactive_startups')
  %li.sidebar-option-color-3
    = link_to following_ideas_path do
      .glyphicon.fa.fa-star
      = I18n.t('views.layouts.sidebar.advisor.following_ideas')
      =#{}"(#{current_advisor.follow_count})"
  %li.sidebar-option-color-3
    = link_to show_survey_path do
      .glyphicon.fa.fa-trophy
      = I18n.t('views.layouts.sidebar.advisor.survey')
  %li.sidebar-option-color-3
    = link_to advisors_list_path do
      .glyphicon.fa.fa-diamond
      = I18n.t('views.layouts.sidebar.advisor.advisors_list')
  %li.sidebar-option-color-3
    = link_to entrepreneurs_list_path do
      .glyphicon.fa.fa-users
      = I18n.t('views.layouts.sidebar.advisor.entrepreneurs_list')
  %li.sidebar-option-color-4
    = link_to  edit_advisor_registration_path(current_advisor) do
      .glyphicon.glyphicon.glyphicon-cog
      = I18n.t('views.layouts.sidebar.advisor.account_configuration')
  %li.sidebar-option-color-4
    = link_to destroy_advisor_session_path  , method: :delete do
      .glyphicon.glyphicon-log-out
      = I18n.t('views.layouts.sidebar.advisor.log_out')