%li.sidebar-card.entreprerenur
  .sidebar-card-image
    =avatar_tag current_entrepreneur, "sidebar-avatar"
  .sidebar-card-name.text-left
    =current_entrepreneur.name
  .sidebar-tags
    .label.label-entrepreneur
      = I18n.t('views.layouts.sidebar.entrepreneur.role')
.sidebar-options
  %li.sidebar-option-color-1
    = link_to entrepreneur_path(current_entrepreneur) do
      .glyphicon.glyphicon-user
      = I18n.t('views.layouts.sidebar.entrepreneur.profile')
  / %li.sidebar-option-color-1
  /   = link_to edit_entrepreneur_path(current_entrepreneur) do
  /     .glyphicon.glyphicon-edit
  /     = I18n.t('views.layouts.sidebar.entrepreneur.edit_profile')
  %li.sidebar-option-color-2
    %a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseSidebarStartups", :role => "button"}
      .glyphicon.fa.fa-rocket
      = I18n.t('views.layouts.sidebar.entrepreneur.my_startups')
      %strong
        ="(#{current_entrepreneur.startups.count})"
    #collapseSidebarStartups.collapse.in.collapse-sidebar-options
      -current_entrepreneur.startups.each do |startup|
        =link_to startup.name.capitalize , startup_path(startup)
  %li.simple-sidebar-option
    =link_to  new_startup_path ,class: " btn-link create-startup-sidebar"do
      %i.glyphicon.glyphicon-plus
      = I18n.t('views.layouts.sidebar.entrepreneur.register_startup')
  / %li.sidebar-option-color-3
  /   %a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseSidebarIdeas", :role => "button"}
  /     .glyphicon.fa.fa-star
  /     = I18n.t('views.layouts.sidebar.entrepreneur.my_active_ideas')
  /     %strong
  /       ="(#{current_entrepreneur.active_ideas.count})"
  /   #collapseSidebarIdeas.collapse.collapse-sidebar-options
  /     -current_entrepreneur.active_ideas.each do |idea|
  /       =link_to idea.name.capitalize , startup_idea_path(idea.startup,idea)
  %li.sidebar-option-color-3
    = link_to advisors_list_path do
      .glyphicon.fa.fa-diamond
      = I18n.t('views.layouts.sidebar.entrepreneur.advisors_list')
  %li.sidebar-option-color-3
    = link_to entrepreneurs_list_path do
      .glyphicon.fa.fa-users
      = I18n.t('views.layouts.sidebar.entrepreneur.entrepreneurs_list')
  %li.sidebar-option-color-4
    = link_to  edit_entrepreneur_registration_path(current_entrepreneur) do
      .glyphicon.glyphicon.glyphicon-cog
      = I18n.t('views.layouts.sidebar.entrepreneur.account_configuration')
  %li.sidebar-option-color-4
    = link_to destroy_entrepreneur_session_path  , method: :delete do
      .glyphicon.glyphicon-log-out
      = I18n.t('views.layouts.sidebar.entrepreneur.log_out')