%section#activivitiesList
  %h1
    = I18n.t('views.activities.index.notifications')

  =link_to mark_all_as_read_path, :data => {:confirm => 'Esta seguro?'}, class: "btn btn-default" do
    .fa.fa-check
    Marcar todas como leidas
%br
  #notificationsList
    - @activities.each do |activity|
      .notification-container
        =render_activity(activity, fallback: 'default')
  =will_paginate @activities
    