
.row
  .col-md-12
    .stage_status-form
      = simple_form_for idea_stage, html: { class: 'change_stage_status_form', id: "change_satage_#{idea_stage.id}_status_form"}, url: update_status_idea_stage_path(idea_stage), method: :put  do |f|
        - if idea_stage.status == 'pending'
          - IdeaStage.statuses.keys.each do |status|
            - if status != 'finish'
              = f.radio_button :status, status, class: "radio_stage_status radio_stage_status_#{idea_stage.id}", id: "radio_stage_status_#{status.to_sym}_#{idea_stage.id}"
              = f.label I18n.t("activerecord.attributes.idea_stage.stage_status.#{status}")
        - elsif idea_stage.status == 'start'
          - IdeaStage.statuses.keys.each do |status|
            - if status != 'pending'
              = f.radio_button :status, status,  class: "radio_stage_status radio_stage_status_#{idea_stage.id}", id: "radio_stage_status_#{status.to_sym}_#{idea_stage.id}"
              = f.label I18n.t("activerecord.attributes.idea_stage.stage_status.#{status}")
