$("#activityAlerts").append("<div class='alert'><%= "#{I18n.t('views.idea_stages.previous_stage_active.the_stage')}  #{@previous_stage_active.model.name}, #{I18n.t('views.idea_stages.previous_stage_active.is_active')}" %></div>");
$(".alert").delay(2000).fadeOut(1000);