El equipo de Emprende Creatic ha respondido a tu inquietud
===============================================

Esta fue tu inquietud

<%= @question %>

Nuestra respuesta:

<%= @reply %>

Enterate de mas en: <%= @url %>

Gracias, ten un buen dia.

