%section
  .container
    .row
      .col-md-12
        %h2
          = I18n.t('views.advisor_startups.show.headline') + @startup.name
          - if !@startup.is_active?
            %span.label.label-default
              = I18n.t('views.advisor_startups.show.startup_pending')
              Pending
    %br
    .row
      .col-md-8
        %p
          %strong
            = I18n.t('views.advisor_startups.show.email')
          = @startup.email
        %p
          %strong
            = I18n.t('views.advisor_startups.show.phone')
          = @startup.phone
        -if @startup.website?
          %p
            %strong
              = I18n.t('views.advisor_startups.show.website')
            = @startup.website
      .col-md-4
        %div
          //= simple_form_for @startup, url: change_startup_status_advisor_path, html: { method: :post } do |f|
          = simple_form_for @startup , url: advisor_startup_path(@startup), method: :put  do |f|
            = f.error_notification
            //= f.check_box :is_active, :label => "Is this startup active?", :inline_label => true
            //-if !@startup.is_active?
            = f.input :is_active, as: :boolean, inline_label: I18n.t('views.advisor_startups.show.startup_active_label'), label: false, input_html: {id: 'idea_is_active'}
            .center-align
              //-if !@startup.is_active?
              = f.button :submit, I18n.t('buttons.accept'), data: { confirm: I18n.t('views.advisor_startups.show.submit_confirmation') }, class: 'btn btn-info'
              //= link_to I18n.t('buttons.back'), advisor_startup_path(@startup), class: 'btn btn-default'
    %br
    .row
      .col-md-12
        %h3
          = I18n.t('views.advisor_startups.show.idea_list_label')
        %div
          %table.table.table-striped.table-ideas
            %tr
              %th
                = I18n.t('activerecord.attributes.idea.name')
              %th
                = I18n.t('activerecord.attributes.idea.description')
              %th
                = I18n.t('activerecord.attributes.idea.problem_definition')
              %th
                = I18n.t('activerecord.attributes.idea.is_active')
            - @ideas.each do |idea|
              %tr{"data-link" => "#{startup_advisor_idea_path(@startup, idea)}"}
                %td
                  = idea.name
                %td
                  = idea.description
                %td
                  = idea.problem_definition
                %td
                  -if idea.is_active?
                    = I18n.t('views.advisor_startups.show.active_idea')
                  -else
                    = I18n.t('views.advisor_startups.show.inactive_idea')



