=link_to "#",class: "messages-header-link" ,"data-toggle"=>"dropdown" do
  %i.fa.fa-envelope-o.message-inbox-icon
  =unread_conversations_badge
%ul.dropdown-menu.notification-dropdown.messages-header-content
  -if unread_conversations.count > 0
    -unread_conversations.first(4).each do |conversation| 
      =link_to show_conversation_path(id: conversation.id) do
        %li.notification-sender
          .notification-labels
            -if conversation.last_message.sender_type == "Advisor"
              %span.label.label-info
                = I18n.t('views.layouts.navbar.conversation_alerts.advisor')
          .image
            =avatar_tag conversation.last_message.sender , "notification-image"
          .sender-content
            %h4.notification-title
              =conversation.last_message.sender.name
              %br
              %span.body-message
                = I18n.t('views.layouts.navbar.conversation_alerts.message_sent')
            
    %li
      =link_to I18n.t('views.layouts.navbar.conversation_alerts.message_list') ,inbox_path
  -else
    %li.notification-empty
      %h5
        = I18n.t('views.layouts.navbar.conversation_alerts.no_messages')
    %li
      =link_to I18n.t('views.layouts.navbar.conversation_alerts.message_list') ,inbox_path