=link_to "#",class: "messages-header-link" ,"data-toggle"=>"dropdown" ,id: "showNotificationsLink" do
  %i.fa.fa-bell.message-inbox-icon
  =unread_activities_badge
%ul.dropdown-menu.notification-dropdown.messages-header-content
  #my-notifications
    -activities.each do |activity|
      =render_activity(activity, fallback: 'default')
  #notificationsLoader
  %li.dropdown-last-option
    =link_to I18n.t('views.layouts.navbar.notification_alerts.notification_history'), activities_path
#currentActivityPage{"data-page"=>1}

