.col-sm-4{id: "image-#{image.id}"}
  %a.test-popup-link{:href => "#{image.image_url}"} 
    =image_tag image.image_url(:medium),class: "image-preview"
  .text-center
    %p
      =link_to I18n.t('views.images.image.delete') , image_path(image), method: :delete , data: { confirm: I18n.t('views.images.image.delete_confirmation')},remote: true