<% if @image.new_record? %>
  alert("Failed to upload image: <%= j @image.errors.full_messages.join(', ').html_safe %>");
<% else %>
  $("#images_preview").append("<%= j render(@image) %>");
<% end %>

$('.test-popup-link').magnificPopup({
  type: 'image'
});