%h1
  = I18n.t('views.images.index.list')

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @images.each do |image|
      %tr
        %td= link_to I18n.t('views.images.index.show'), image
        %td= link_to I18n.t('views.images.index.edit'), edit_image_path(image)
        %td= link_to I18n.t('views.images.index.destroy'), image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to I18n.t('views.images.index.new'), new_image_path
