%footer.footer
  .container-fluid.container-padding
    .row
      .col-md-4
        .col
          %h4
            = I18n.t('views.layouts.footer.contact_us')
          %ul
            %li
              = I18n.t('views.layouts.footer.city')
            %li
              = I18n.t('views.layouts.footer.phone')
            %li
              = I18n.t('views.layouts.footer.email')
              %a{:href => "info@thebitbang.company", :title => "Email Us"}
                = I18n.t('views.layouts.footer.contact_email')
      .col-md-4
        .col
          %h4
            = I18n.t('views.layouts.footer.creatic')
          %ul
            %li
              = I18n.t('views.layouts.footer.email')
              %a{:href => "info@creaticcorporacion.com", :title => "Email Us"}
                = I18n.t('views.layouts.footer.creatic_email')
      .col-md-4
        .col.col-social-icons
          %h4
            = I18n.t('views.layouts.footer.follow_us')
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-google-plus
          %a{:href => "#"}
            %i.fa.fa-linkedin
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-skype
          %a{:href => "#"}
            %i.fa.fa-pinterest
          %a{:href => "#"}
            %i.fa.fa-youtube-play
          %a{:href => "#"}
            %i.fa.fa-flickr

    %hr/
    .row
      .col-lg-9.copyright
        2014 © THE BIT BANG COMPANY. All rights reserved.
        /%a{:href => "#"} Terms and conditions
      .col-lg-3
        /%a{:href => "http://www.thebitbang.company", :target => "_blank", :title => "Made with love by Web Pixels"}
        /  %img.pull-right{:alt => "Web Pixels - Designing Forward | Logo", :src => "images/webpixels-footer-logo.png"}/