%nav.navbar.user-navbar.navbar-fixed-top
  .container
    =link_to "#", id: "menu-toggle",class: "navbar-brand" do
      .glyphicons.fa.fa-bars
    =link_to root_path ,class: "navbar-brand" ,data: { no_turbolink: true},class: "navbar-brand image-responsive " do
      =image_tag "logo-purple.png"
    .nav.navbar-right
      -if emprende_user_signed_in?
        %li.dropdown.inline-nav-item#notificationsContainer
          =render partial: "/layouts/navbar/notification_alerts", locals: {activities: current_emprende_user.activities}
        
        %li.dropdown.inline-nav-item#conversationContainer
          =render "/layouts/navbar/conversation_alerts"
      -else
        %li.inline-nav-item
          =link_to new_entrepreneur_registration_path ,class: "sign-up-navbar"do
            = I18n.t('views.layouts.signup')
        %li.login-nav-item
          %a.sign-in-navbar{"data-target" => "#signInModal", "data-toggle" => "modal", :type => "button"}
            = I18n.t('views.layouts.login')

      /%li.dropdown.inline-nav-item.dropdown-search.animate-click{"data-animate-in" => "animated fadeInUp", "data-animate-out" => "animated fadeOutDown", :style => "z-index:500;"}
      /  %a.dropdown-form-toggle{"data-toggle" => "dropdown", :href => "#"}
      /    %i.fa.fa-search
      /  %ul.dropdown-menu.dropdown-menu-search.animate-wr
      /    %li#dropdownForm
      /      .dropdown-form
      /        %form.form-default.form-horizontal.p-15
      /          .input-group
      /            %input.form-control{:onfocus => "return false;", :placeholder => "I want to find ...", :type => "text"}/
      /            %span.input-group-btn
      /              %button.btn.btn-base{:type => "button"} Go
=render "/static_pages/sign_in_modal"
