!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      = full_title(yield(:title))
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'layouts/google_analytics'
    %script{:src => "https://apis.google.com/js/api.js?onload=onApiLoad", :type => "text/javascript"}
  
  %body
    #wrapper
      / Sidebar
      #sidebar-wrapper
        = render 'layouts/sidebar/sidebar_layout'
      / /#sidebar-wrapper
      / Page Content
      #page-content-wrapper
        #header
          = render 'layouts/header'
        #content
          -if flash[:error]
            .jquery-alert.alert.alert-danger
              =flash[:error]
          -if flash[:alert]
            .jquery-alert.alert.alert-warning
              =flash[:alert]
          -if flash[:notice]
            .jquery-alert.alert.alert-info
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              =flash[:notice]
          #pushAlerts
          #activityAlerts
          #customAlerts
          .container-fluid.container-padding
            = yield
        #footer
          =# render 'layouts/footer'
  .ajax-modal
:javascript
  var url = "http://"+ $(location).attr('hostname') + ":5001"
  var socket = io.connect(url);
  socket.emit('subscribe', 'rt-change');
  socket.on('message', function (message){
    //socket.emit('unsubscribe', 'somechannel');
    $.ajax({
      type: 'GET',
      url: '/update_activities',
      success: function(data){
        // $("#customAlerts").html("<div class='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>Has recibido una nueva notificación</div>");
        // $(".alert").delay(2000).fadeOut();
      },
      dataType: 'script'
    });
    $('body').removeClass('loading');
  });
  socket.on('connect', function (message){
    console.log("user connected");
    //socket.emit('unsubscribe', 'somechannel');
  });



