!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      =render "layouts/header"
    #content
      -if flash[:error]
        .jquery-alert.alert.alert-danger
          =flash[:error]
      -if flash[:alert]
        .jquery-alert.alert.alert-warning
          =flash[:alert]
      -if flash[:notice]
        .jquery-alert.alert.alert-info
          =flash[:notice]
      = yield
    #footer
      = render 'layouts/footer'