!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    =# stylesheet_link_tag wicked_pdf_asset_base64("bootstrap_and_overrides")
    = stylesheet_link_tag wicked_pdf_asset_base64("bootstrap_and_overrides")
    = stylesheet_link_tag wicked_pdf_asset_base64("reports")
    =# wicked_pdf_javascript_include_tag "number_pages"
  %body{:onload => "number_pages"}
    #header

    #content
      = yield